In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from matplotlib.ticker import FormatStrFormatter

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate
from sklearn.metrics import accuracy_score, confusion_matrix, mean_absolute_error

In [2]:
df=pd.read_csv('data/df_out.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00

# Data Preparation

Целевой переменной является price_category, найдём в каких долях входят значения в выборку

In [3]:
list_name_category = df.price_category.unique()
list_quantity_category = df.price_category.value_counts()
summ = df.price_category.count()

for i in range(len(list_name_category)):
    print(f'Доля машин в категории {list_name_category[i]} составляет {list_quantity_category[i]/summ}')

Доля машин в категории high составляет 0.3495
Доля машин в категории medium составляет 0.328
Доля машин в категории low составляет 0.3225

## Data Cleaning

Информация о датафрейме

In [4]:
df.describe(include = 'all')

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
count,1.000000e+04,10000,10000,10000,1.000000e+04,9964.000000,10000,9872,9937,10000.00000,9834,9955,9998,9998,10000,9902.000000,9902.000000,9998,10000,9998
unique,NaN,10000,393,405,NaN,NaN,40,3466,5,NaN,6,3,9081,9845,51,NaN,NaN,9957,3,9911
top,NaN,https://chattanooga.craigslist.org/ctd/d/chatt...,"kansas city, MO",https://kansascity.craigslist.org,NaN,NaN,ford,f-150,gas,NaN,clean,automatic,https://images.craigslist.org/00N0N_1xMPvfxRAI...,PLEASE VIEW THE FREE CARFAX HISTORY REPORT AT ...,ca,NaN,NaN,2021-04-19T10:00:54-0400,high,2021-04-22 15:01:24+00:00
freq,NaN,1,86,86,NaN,NaN,1638,151,8402,NaN,9518,7700,188,7,1108,NaN,NaN,2,3495,3
mean,7.311541e+09,NaN,NaN,NaN,2.067842e+04,2010.927941,NaN,NaN,NaN,93324.13400,NaN,NaN,NaN,NaN,NaN,38.594142,-94.165877,NaN,NaN,NaN
std,4.477653e+06,NaN,NaN,NaN,1.246230e+05,9.672040,NaN,NaN,NaN,63181.17499,NaN,NaN,NaN,NaN,NaN,5.844895,18.128504,NaN,NaN,NaN
min,7.208550e+09,NaN,NaN,NaN,5.000000e+02,1915.000000,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,-67.144243,-158.069300,NaN,NaN,NaN
25%,7.308189e+09,NaN,NaN,NaN,7.900000e+03,2008.000000,NaN,NaN,NaN,39147.25000,NaN,NaN,NaN,NaN,NaN,34.830368,-110.322086,NaN,NaN,NaN
50%,7.312757e+09,NaN,NaN,NaN,1.574950e+04,2013.000000,NaN,NaN,NaN,89000.00000,NaN,NaN,NaN,NaN,NaN,39.298522,-88.000050,NaN,NaN,NaN
75%,7.315274e+09,NaN,NaN,NaN,2.799000e+04,2017.000000,NaN,NaN,NaN,136875.00000,NaN,NaN,NaN,NaN,NaN,42.428070,-80.830000,NaN,NaN,NaN
max,7.317090e+09,NaN,NaN,NaN,1.234568e+07,2022.000000,NaN,NaN,NaN,283466.00000,NaN,NaN,NaN,NaN,NaN,64.947500,173.885502,NaN,NaN,NaN

Распечатаем в цикле по каждой колонке название колонки, количество уникальных значений, а затем список возможных значений вместе с их количеством появления в датасете.

In [5]:
for i in list(df):
    print(f'Характеристика: {i}')
    print(f'Количество уникальных значений: {df[i].nunique()}')
    print(f'Список значений: {df[i].value_counts()}')
    print('----------------------------------------')

Характеристика: id
Количество уникальных значений: 10000
Список значений: 7308295377    1
7316908621    1
7305833526    1
7316719384    1
7314440026    1
             ..
7305589280    1
7314411334    1
7307782698    1
7305083080    1
7311960763    1
Name: id, Length: 10000, dtype: int64
----------------------------------------
Характеристика: url
Количество уникальных значений: 10000
Список значений: https://chattanooga.craigslist.org/ctd/d/chattanooga-2020-ram-2500-crew-cab-big/7308295377.html     1
https://boise.craigslist.org/ctd/d/boise-2015-volkswagen-jetta-18t-sport/7316908621.html            1
https://appleton.craigslist.org/cto/d/waupaca-1932-ford-replica-window-with/7305833526.html         1
https://goldcountry.craigslist.org/ctd/d/placerville-2017-chevy-chevrolet/7316719384.html           1
https://roanoke.craigslist.org/ctd/d/roanoke-2012-chevrolet-chevy-impala/7314440026.html            1
                                                                                                   ..
https://harrisonburg.craigslist.org/ctd/d/harrisonburg-2020-infiniti-qx60-luxe/7305589280.html      1
https://pittsburgh.craigslist.org/ctd/d/new-kensington-2008-chevrolet-malibu-ltz/7314411334.html    1
https://potsdam.craigslist.org/ctd/d/lyon-mountain-subaru-cross-trek-premium/7307782698.html        1
https://albanyga.craigslist.org/ctd/d/albany-2018-jag-jaguar-epace-p300/7305083080.html             1
https://norfolk.craigslist.org/ctd/d/chesapeake-2017-ram-1500-crew-cab-big/7311960763.html          1
Name: url, Length: 10000, dtype: int64
----------------------------------------
Характеристика: region
Количество уникальных значений: 393
Список значений: kansas city, MO          86
minneapolis / st paul    83
grand rapids             82
pittsburgh               81
sarasota-bradenton       81
                         ..
gulfport / biloxi         1
southern WV               1
southwest MS              1
houma                     1
auburn                    1
Name: region, Length: 393, dtype: int64
----------------------------------------
Характеристика: region_url
Количество уникальных значений: 405
Список значений: https://kansascity.craigslist.org     86
https://minneapolis.craigslist.org    83
https://grandrapids.craigslist.org    82
https://pittsburgh.craigslist.org     81
https://sarasota.craigslist.org       81
                                      ..
https://houma.craigslist.org           1
https://mattoon.craigslist.org         1
https://swv.craigslist.org             1
https://montana.craigslist.org         1
https://auburn.craigslist.org          1
Name: region_url, Length: 405, dtype: int64
----------------------------------------
Характеристика: price
Количество уникальных значений: 2227
Список значений: 6995     112
29990     89
7995      81
8995      76
9995      73
        ...
10781      1
38634      1
15222      1
8480       1
1575       1
Name: price, Length: 2227, dtype: int64
----------------------------------------
Характеристика: year
Количество уникальных значений: 89
Список значений: 2018.0    810
2017.0    809
2016.0    745
2013.0    699
2015.0    668
         ...
1937.0      1
1935.0      1
1954.0      1
1915.0      1
1958.0      1
Name: year, Length: 89, dtype: int64
----------------------------------------
Характеристика: manufacturer
Количество уникальных значений: 40
Список значений: ford               1638
chevrolet          1293
toyota              779
jeep                490
honda               466
nissan              454
ram                 411
other               382
gmc                 358
bmw                 330
dodge               325
volkswagen          251
mercedes-benz       239
hyundai             225
subaru              210
kia                 200
audi                200
lexus               184
cadillac            183
chrysler            161
acura               150
buick               145
mazda               142
infiniti            117
lincoln             113
mitsubishi           82
mini                 72
volvo                67
pontiac              61
rover                59
jaguar               45
porsche              37
mercury              32
tesla                27
saturn               25
fiat                 23
alfa-romeo           14
ferrari               4
harley-davidson       4
datsun                2
Name: manufacturer, dtype: int64
----------------------------------------
Характеристика: model
Количество уникальных значений: 3466
Список значений: f-150                        151
silverado 1500               110
1500                         100
camry                         77
silverado                     74
                            ...
grand caravan sport            1
Nascar                         1
titan le                       1
sorrento lx v6                 1
a3 2.0t premium plus pzev      1
Name: model, Length: 3466, dtype: int64
----------------------------------------
Характеристика: fuel
Количество уникальных значений: 5
Список значений: gas         8402
other        730
diesel       653
hybrid       108
electric      44
Name: fuel, dtype: int64
----------------------------------------
Характеристика: odometer
Количество уникальных значений: 6939
Список значений: 283466    91
100000    50
95674     43
1         42
180000    37
          ..
126872     1
68967      1
124248     1
101048     1
61943      1
Name: odometer, Length: 6939, dtype: int64
----------------------------------------
Характеристика: title_status
Количество уникальных значений: 6
Список значений: clean         9518
rebuilt        171
salvage         92
lien            35
missing         16
parts only       2
Name: title_status, dtype: int64
----------------------------------------
Характеристика: transmission
Количество уникальных значений: 3
Список значений: automatic    7700
other        1624
manual        631
Name: transmission, dtype: int64
----------------------------------------
Характеристика: image_url
Количество уникальных значений: 9081
Список значений: https://images.craigslist.org/00N0N_1xMPvfxRAIdz_0gw0co_600x450.jpg    188
https://images.craigslist.org/00R0R_lwWjXSEWNa7z_0x20oM_600x450.jpg     47
https://images.craigslist.org/00D0D_aqVh7XGmJcQz_0gw0co_600x450.jpg      8
https://images.craigslist.org/00v0v_ihZKB5WEx8Rz_0gw0co_600x450.jpg      8
https://images.craigslist.org/00o0o_fxdOFlJ1s44z_0gw0co_600x450.jpg      7
                                                                      ...
https://images.craigslist.org/00x0x_2xQIKo5o6hcz_0cQ0am_600x450.jpg      1
https://images.craigslist.org/01515_cDHbx1lx4cbz_0uJ0nu_600x450.jpg      1
https://images.craigslist.org/00p0p_4jauVqjhBuez_0ak07K_600x450.jpg      1
https://images.craigslist.org/00y0y_9hiZjmnJ1LIz_0gw0co_600x450.jpg      1
https://images.craigslist.org/00O0O_gBihGEQxYTjz_0kE0fu_600x450.jpg      1
Name: image_url, Length: 9081, dtype: int64
----------------------------------------
Характеристика: description
Количество уникальных значений: 9845
Список значений: PLEASE VIEW THE FREE CARFAX HISTORY REPORT AT OUR WEBSITE CARTERSCARSVT.COM OR CALL 802-891-6345 CHECK OUT OUR INVENTORY ON FACEBOOK!!!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                7
Call or text today to find out more. (602) 620-6525 Calls only landline (406) 245-1785  Available at Standard Auto Sales 1503 Broadwater Ave. Billings, MT 59102 standardautosales.net   Need help with financing? We have options for most credit situations. We never charge a doc fee! Extended service contracts available. We buy cars and take consignments! Call or text Mike today to find out more. (602) 620-6525  Welcome to Standard Auto Sales, located in Billings, MT, where quality service and customer satisfaction come first. We are here to help you find a vehicle that fits your lifestyle from our wide selection of used cars, trucks, and SUVs. We pride ourselves on a hassle-free car buying experience where your needs come first. Swing by to let us exceed your expectations while finding the perfect vehicle! Do you need financing for your next used vehicle purchase? Do you have a good credit, bad credit or no credit history situation? We work with a variety of financial institutions and we will work hard to get you approved quickly and easily, at the best rate possible! Apply now or call us at (406) 245-1785 or text (602) 620-6525 to schedule a test drive today!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               5

Количество полностью заполненных объектов и процент пропущенных значений

In [6]:
missing_values_out_clean = ((df.isna().sum() / len(df))*100).sort_values()[::-1]
print('Процент пропущенных значений: ')
missing_values_out_clean

Процент пропущенных значений:

title_status      1.66
model             1.28
long              0.98
lat               0.98
fuel              0.63
transmission      0.45
year              0.36
date              0.02
posting_date      0.02
description       0.02
image_url         0.02
price             0.00
url               0.00
region            0.00
region_url        0.00
odometer          0.00
manufacturer      0.00
price_category    0.00
state             0.00
id                0.00
dtype: float64

Колонки, в которых имеются пропущенные значения

In [7]:
missing_colomns = missing_values_out_clean[missing_values_out_clean.values > 0].index.tolist()
missing_colomns

['title_status',
 'model',
 'long',
 'lat',
 'fuel',
 'transmission',
 'year',
 'date',
 'posting_date',
 'description',
 'image_url']

### Обработка пропусков

#### Обработка пропусков в годе выпуска автомобиля(year)

Количество пропущенных значений в годе выпуска автомобиля

In [10]:
quant_y = df.year.isna().sum()
print(f"Количество пропущенных значений в year:{quant_y}")

Количество пропущенных значений в year:36

Записи, в которых год выпуска автомобиля не заполнен

In [8]:
df[df.year.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
344,7304102133,https://wenatchee.craigslist.org/ctd/d/wenatch...,wenatchee,https://wenatchee.craigslist.org,35880,NaN,other,500,gas,13508,clean,automatic,https://images.craigslist.org/00J0J_6IMoEUzIIM...,2019 *Ram* *1500* Big Horn/Lone Star 4x2 Quad ...,wa,47.434493,-120.320759,2021-04-09T06:31:03-0700,high,2021-04-09 13:31:03+00:00
420,7316337069,https://lasvegas.craigslist.org/ctd/d/scottsda...,las vegas,https://lasvegas.craigslist.org,84995,NaN,other,Super Duty F-350 SRW,diesel,1268,clean,automatic,https://images.craigslist.org/00x0x_iQCC0Ef28S...,2020 *Ford* *Super Duty F-350 SRW* 1K MILES. B...,nv,33.458277,-111.925970,2021-05-03T11:31:39-0700,high,2021-05-03 18:31:39+00:00
425,7315662117,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,43900,NaN,other,Grand Caravan,NaN,21,clean,automatic,https://images.craigslist.org/00f0f_7AwipNocNH...,"2019 *Dodge* *Grand Caravan* SE - $43,900Call ...",co,39.674406,-104.998604,2021-05-02T01:11:33-0600,high,2021-05-02 07:11:33+00:00
702,7316199009,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://nashville.craigslist.org,28498,NaN,other,olet Silverado 1500,NaN,59246,NaN,automatic,https://images.craigslist.org/00T0T_dZ7nOXskCS...,2019 *Chevrolet* *Silverado 1500* 2019 CHEVROL...,tn,36.138022,-86.732261,2021-05-03T10:00:40-0500,high,2021-05-03 15:00:40+00:00
893,7316840794,https://denver.craigslist.org/ctd/d/american-f...,denver,https://denver.craigslist.org,60900,NaN,other,F-150,gas,6110,clean,automatic,https://images.craigslist.org/01616_bpzSdSRTbx...,"2020 *Ford* *F-150* PLATINUM FX4 Truck - $60,9...",co,40.362248,-111.785947,2021-05-04T12:11:22-0600,high,2021-05-04 18:11:22+00:00
906,7311915616,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,67900,NaN,other,Odyssey,gas,21,clean,automatic,https://images.craigslist.org/00404_erlbeKWEkn...,2020 *Honda* *Odyssey* EX-L w/Navi/RES Automat...,co,39.674406,-104.998604,2021-04-24T10:41:06-0600,high,2021-04-24 16:41:06+00:00
1005,7306735187,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,38900,NaN,other,Grand Caravan,NaN,21,clean,automatic,https://images.craigslist.org/00F0F_3T6FM0XMZW...,"2019 *Dodge* *Grand Caravan* SE - $38,900Call ...",co,39.674406,-104.998604,2021-04-14T10:51:36-0600,high,2021-04-14 16:51:36+00:00
1217,7309954650,https://gainesville.craigslist.org/ctd/d/gaine...,gainesville,https://gainesville.craigslist.org,24975,NaN,other,CR-V,gas,44128,clean,automatic,https://images.craigslist.org/00000_2TUtAgLlCR...,"2019 *Honda* *CR-V* EX 2WD SUV - $24,975Call o...",fl,29.676827,-82.319202,2021-04-20T14:46:55-0400,high,2021-04-20 18:46:55+00:00
1319,7313865045,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,47900,NaN,other,a Sienna,gas,43701,clean,automatic,https://images.craigslist.org/00o0o_8XYp4Zygdj...,2018 *Toyota* *Sienna* LE Automatic Access Sea...,co,39.674406,-104.998604,2021-04-28T10:12:14-0600,high,2021-04-28 16:12:14+00:00
1845,7303344554,https://daytona.craigslist.org/ctd/d/new-smyrn...,daytona beach,https://daytona.craigslist.org,35850,NaN,other,Transit Cargo Van,gas,567,clean,automatic,https://images.craigslist.org/00a0a_d4XVrHnlxl...,"2020 *Ford* *Transit Cargo Van* T-250 148"" WB*...",fl,29.046240,-80.934561,2021-04-07T17:10:06-0400,high,2021-04-07 21:10:06+00:00
2292,7311762820,https://huntsville.craigslist.org/ctd/d/new-ca...,huntsville / decatur,https://huntsville.craigslist.org,29875,NaN,other,a Camry,gas,46947,clean,automatic,https://images.craigslist.org/01313_9nQ5n8dbnZ...,2019 *Toyota* *Camry* XSE Automatic Sedan - $2...,al,33.669601,-86.817617,2021-04-24T04:50:56-0500,high,2021-04-24 09:50:56+00:00
2504,7315662074,https://santafe.craigslist.org/ctd/d/denver-20...,santa fe / taos,https://santafe.craigslist.org,43900,NaN,other,Grand Caravan,NaN,21,clean,automatic,https://images.craigslist.org/00f0f_7AwipNocNH...,"2019 *Dodge* *Grand Caravan* SE - $43,900Call ...",nm,39.674406,-104.998604,2021-05-02T01:10:47-0600,high,2021-05-02 07:10:47+00:00
2629,7314588156,https://inlandempire.craigslist.org/ctd/d/hesp...,inland empire,https://inlandempire.craigslist.org,2599,NaN,other,olet Impala,other,1,clean,other,https://images.craigslist.org/00P0P_dKsEWbujM0...,Chevrolet Impala * AUCTION PRICES TO THE PUBL...,ca,34.451930,-117.287060,2021-04-29T16:19:54-0700,low,2021-04-29 23:19:54+00:00
2819,7310250813,https://omaha.craigslist.org/ctd/d/council-blu...,omaha / council bluffs,https://omaha.craigslist.org,28995,NaN,other,cadia,gas,3851,NaN,automatic,https://images.craigslist.org/00j0j_6hfE9qI1CV...,2019 *GMC* *Acadia* AWD 4dr SLT w/SLT-1 SUV - ...,ia,41.229172,-95.852118,2021-04-21T07:21:00-0500,high,2021-04-21 12:21:00+00:00
2959,7306678710,https://gainesville.craigslist.org/ctd/d/gaine...,gainesville,https://gainesville.craigslist.org,26975,NaN,other,n Maxima,gas,28367,clean,automatic,https://images.craigslist.org/01010_4uw9b06xiS...,2018 *Nissan* *Maxima* SR 3.5L Midnight Editio...,fl,29.676827,-82.319202,2021-04-14T11:25:14-0400,high,2021-04-14 15:25:14+00:00
3294,7316562384,https://honolulu.craigslist.org/oah/ctd/d/hono...,hawaii,https://honolulu.craigslist.org,37500,NaN,other,Grand Cherokee,NaN,26608,clean,automatic,https://images.craigslist.org/01111_h3zrI9JPSH...,2018 *Jeep* *Grand Cherokee* High Altitude 4x2...,hi,21.318059,-157.865187,2021-05-03T16:10:46-1000,high,2021-05-04 02:10:46+00:00
3509,7307209305,https://northmiss.craigslist.org/ctd/d/vicksbu...,north mississippi,https://northmiss.craigslist.org,64900,NaN,other,500,diesel,12338,NaN,automatic,https://images.craigslist.org/00E0E_hZTYK06AGo...,2020 *Ram* *3500* RAM 3500 DUALLY 4X4 CUMMINS ...,ms,32.332046,-90.857163,2021-04-15T10:45:56-0500,high,2021-04-15 15:45:56+00:00
3521,7304711487,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,67900,NaN,other,Odyssey,gas,21,clean,automatic,https://images.craigslist.org/00404_erlbeKWEkn...,2020 *Honda* *Odyssey* EX-L w/Navi/RES Automat...,co,39.674406,-104.998604,2021-04-10T10:12:15-0600,high,2021-04-10 16:12:15+00:00
3671,7309869204,https://scottsbluff.craigslist.org/ctd/d/denve...,scottsbluff / panhandle,https://scottsbluff.craigslist.org,48900,NaN,other,Grand Caravan,NaN,19,clean,automatic,https://images.craigslist.org/00V0V_72KAx8GRuN...,2019 *Dodge* *Grand Caravan* SE Plus Wagon - $...,ne,39.674406,-104.998604,2021-04-20T10:41:16-0600,high,2021-04-20 16:41:16+00:00
4220,7304693422,https://shreveport.craigslist.org/ctd/d/vicksb...,shreveport,https://shreveport.craigslist.org,53700,NaN,other,ierra 1500,gas,35676,NaN,automatic,https://images.craigslist.org/00O0O_cpIkn2jwHN...,2020 *GMC* *Sierra 1500* SIERRA 1500 AT4 4X4 5...,la,32.332046,-90.857163,2021-04-10T10:44:02-0500,high,2021-04-10 15:44:02+00:00
6120,7310371320,https://westslope.craigslist.org/ctd/d/denver-...,western slope,https://westslope.craigslist.org,49900,NaN,other,Enclave,gas,10345,clean,automatic,https://images.craigslist.org/00M0M_sPt1lwAVRY...,2018 *Buick* *Enclave* FWD 4dr Essence SUV - $...,co,39.674406,-104.998604,2021-04-21T10:12:30-0600,high,2021-04-21 16:12:30+00:00
6196,7309904568,https://omaha.craigslist.org/ctd/d/omaha-2020-...,omaha / council bluffs,https://omaha.craigslist.org,25399,NaN,other,Envision,NaN,8492,rebuilt,automatic,https://images.craigslist.org/01515_geiPTG1MZG...,2020 *Buick* *Envision* AWD 4dr Essence SUV - ...,ia,41.207382,-96.023096,2021-04-20T12:31:36-0500,high,2021-04-20 17:31:36+00:00
6323,7315207437,https://huntsville.craigslist.org/ctd/d/new-ca...,huntsville / decatur,https://huntsville.craigslist.org,35495,NaN,other,Series,gas,14000,clean,automatic,https://images.craigslist.org/01212_85QVVsEWjT...,"2020 *BMW* *3 Series* 330i Sedan - $35,495Call...",al,33.669601,-86.817617,2021-05-01T04:50:32-0500,high,2021-05-01 09:50:32+00:00
6728,7315259025,https://nh.craigslist.org/cto/d/manchester-201...,new hampshire,https://nh.craigslist.org,3750,NaN,other,NaN,NaN,95674,NaN,NaN,NaN,NaN,nh,NaN,NaN,NaN,low,NaN
7200,7310924082,https://omaha.craigslist.org/ctd/d/omaha-2018-...,omaha / council bluffs,https://omaha.craigslist.org,12995,NaN,other,u Impreza,gas,16740,rebuilt,automatic,https://images.craigslist.org/01212_dEfENLNXWW...,2018 *Subaru* *Impreza* 2.0i 4-door CVT Sedan ...,ia,41.207382,-96.023096,2021-04-22T12:20:37-0500,medium,2021-04-22 17:20:37+00:00
7652,7316247218,https://lasvegas.craigslist.org/ctd/d/scottsda...,las vegas,https://lasvegas.craigslist.org,69995,NaN,other,F-150,gas,412,clean,automatic,https://images.craigslist.org/00n0n_kNzqmJoY2a...,2021 *Ford* *F-150* NEW 2021 FORD F150 SUPERCR...,nv,33.458277,-111.925970,2021-05-03T09:15:32-0700,high,2021-05-03 16:15:32+00:00
7815,7314898718,https://gainesville.craigslist.org/ctd/d/gaine...,gainesville,https://gainesville.craigslist.org,38975,NaN,other,500,gas,28689,clean,automatic,https://images.craigslist.org/00e0e_3SqmUoLwUf...,2019 *Ram* *2500* Tradesman 4x2 Crew Cab 8' Bo...,fl,29.676827,-82.319202,2021-04-30T13:32:48-0400,high,2021-04-30 17:32:48+00:00
7819,7314454466,https://billings.craigslist.org/ctd/d/denver-2...,billings,https://billings.craigslist.org,49900,NaN,other,a Sienna,gas,34294,clean,automatic,https://images.craigslist.org/00707_lMMxHyLoAR...,2019 *Toyota* *Sienna* LE Automatic Access Sea...,mt,39.674406,-104.998604,2021-04-29T13:00:48-0600,high,2021-04-29 19:00:48+00:00
8527,7310829676,https://tucson.craigslist.org/ctd/d/tempe-2020...,tucson,https://tucson.craigslist.org,83877,NaN,other,ierra 2500HD,diesel,25363,NaN,automatic,https://images.craigslist.org/00A0A_nd5C1ILCvJ...,2020 *GMC* *Sierra 2500HD* LIFTED - AT4 Editio...,az,33.437098,-111.925724,2021-04-22T07:50:52-0700,high,2021-04-22 14:50:52+00:00
8805,7316852999,https://memphis.craigslist.org/ctd/d/memphis-2...,memphis,https://memphis.craigslist.org,19979,NaN,other,CX-5,gas,17183,clean,automatic,https://images.craigslist.org/00x0x_1sp7mb28W4...,"2019 *Mazda* *CX-5* Sport FWD SUV - $19,979Cal...",tn,35.191437,-89.894973,2021-05-04T13:30:34-0500,medium,2021-05-04 18:30:34+00:00
9330,7316270709,https://denver.craigslist.org/ctd/d/denver-201...,denver,https://denver.craigslist.org,49900,NaN,other,a Sienna,gas,34294,clean,automatic,https://images.craigslist.org/00707_lMMxHyLoAR...,2019 *Toyota* *Sienna* LE Automatic Access Sea...,co,39.674406,-104.998604,2021-05-03T10:50:33-0600,high,2021-05-03 16:50:33+00:00
9388,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,other,NaN,NaN,95674,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN,medium,NaN
9549,7312938642,https://lasvegas.craigslist.org/ctd/d/scottsda...,las vegas,https://lasvegas.craigslist.org,67995,NaN,other,olet Silverado 1500,gas,7511,clean,automatic,https://images.craigslist.org/00M0M_74pDndl5gQ...,2020 *Chevrolet* *Silverado 1500* 6.2L HIGH CO...,nv,33.458277,-111.925970,2021-04-26T11:30:40-0700,high,2021-04-26 18:30:40+00:00
9723,7309216259,https://omaha.craigslist.org/ctd/d/omaha-2019-...,omaha / council bluffs,https://omaha.craigslist.org,29995,NaN,other,Enclave,gas,1036,rebuilt,automatic,https://images.craigslist.org/01010_1PAwiL9HwM...,2019 *Buick* *Enclave* AWD 4dr Essence SUV - $...,ia,41.207382,-96.023096,2021-04-19T09:30:41-0500,high,2021-04-19 14:30:41+00:00
9849,7316246632,https://sanantonio.craigslist.org/ctd/d/scotts...,san antonio,https://sanantonio.craigslist.org,49995,NaN,other,500,gas,19078,clean,automatic,https://images.craigslist.org/00p0p_lva0tqTnF1...,2019 *Ram* *1500* LIFTED 2019 RAM 1500 WITH BU...,tx,33.458277,-111.925970,2021-05-03T11:14:44-0500,high,2021-05-03 16:14:44+00:00
9953,7314033574,https://inlandempire.craigslist.org/ctd/d/scot...,inland empire,https://inlandempire.craigslist.org,54995,NaN,other,F-150,gas,180,clean,automatic,https://images.craigslist.org/00d0d_92wTNhRT7B...,2020 *Ford* *F-150* 180 MILES. LIFTED FORD F15...,ca,33.458277,-111.925970,2021-04-28T13:51:27-0700,high,2021-04-28 20:51:27+00:00

Удаляем записи, в которых год выпуска автомобиля не заполнен, и сохраняем обновлённый датафрейм.

In [9]:
df = df.loc[~df.year.isna()]
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

 Проверяем количество пропущенных значений в годе выпуска автомобиля для обновлённого датафрейма.

In [10]:
quant = df.year.isna().sum()
print(f"Количество пропущенных значений в year:{quant}")

Количество пропущенных значений в year:0

#### Обработка пропусков в типе топлива(fuel)

---

Количество значений для типа топлива, включая пропущенные значения

In [11]:
 df.fuel.value_counts(dropna = False)

gas         8379
other        729
diesel       650
hybrid       108
NaN           54
electric      44
Name: fuel, dtype: int64

Записи, в которых год выпуска автомобиля не заполнен

In [12]:
df[df.fuel.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
32,7309910590,https://eugene.craigslist.org/ctd/d/eugene-200...,eugene,https://eugene.craigslist.org,4977,2001.0,toyota,camry solara 2dr cpe se v6 auto (natl),NaN,193242,clean,automatic,https://images.craigslist.org/00F0F_ebtJlxCQjv...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-20T10:40:15-0700,low,2021-04-20 17:40:15+00:00
78,7314559074,https://eugene.craigslist.org/ctd/d/eugene-200...,eugene,https://eugene.craigslist.org,27977,2009.0,ford,"f-150 4wd supercrew 145"" platinum",NaN,79522,clean,automatic,https://images.craigslist.org/00L0L_khoMmqXaSJ...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-29T15:15:30-0700,high,2021-04-29 22:15:30+00:00
275,7315141987,https://honolulu.craigslist.org/oah/ctd/d/fort...,hawaii,https://honolulu.craigslist.org,29888,2019.0,nissan,frontier crew cab 4x2 sv auto,NaN,10679,clean,automatic,https://images.craigslist.org/00F0F_d9wEXQuSyu...,***Call Us for more information at: 877-262-34...,hi,21.344376,-157.896975,2021-04-30T15:50:19-1000,high,2021-05-01 01:50:19+00:00
471,7316807613,https://eugene.craigslist.org/ctd/d/eugene-200...,eugene,https://eugene.craigslist.org,13436,2006.0,chevrolet,"silverado 1500 ext cab 143.5"" wb 4wd ls",NaN,172700,clean,automatic,https://images.craigslist.org/00l0l_35tV0gQdD8...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-05-04T10:20:19-0700,medium,2021-05-04 17:20:19+00:00
1009,7314561306,https://cnj.craigslist.org/ctd/d/parlin-2000-c...,central NJ,https://cnj.craigslist.org,5894,2000.0,chevrolet,"s-10 ext cab 123"" wb ls",NaN,78740,clean,automatic,https://images.craigslist.org/00O0O_8vd70bT1rY...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-29T18:20:19-0400,low,2021-04-29 22:20:19+00:00
1279,7310297136,https://westernmass.craigslist.org/ctd/d/johns...,western massachusetts,https://westernmass.craigslist.org,6000,2008.0,other,IC IC,NaN,0,NaN,automatic,https://images.craigslist.org/00404_cBFpBKbfr2...,"2008 *IC* *IC* CE300 - $6,000Call Us Today! 85...",ma,43.008105,-74.352011,2021-04-21T10:11:05-0400,low,2021-04-21 14:11:05+00:00
1318,7310414739,https://nwct.craigslist.org/ctd/d/melville-200...,northwest CT,https://nwct.craigslist.org,11995,2007.0,gmc,c-7500 multiple uses perfect,NaN,50098,clean,automatic,https://images.craigslist.org/00T0T_jvsOAKSGAr...,2007 *GMC* *C-7500 MULTIPLE USES PERFECT* FOR ...,ct,40.681179,-73.430488,2021-04-21T13:18:41-0400,medium,2021-04-21 17:18:41+00:00
1686,7316342709,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,19942,2017.0,ram,"promaster cargo van 1500 low roof 118"" wb",NaN,88836,clean,automatic,https://images.craigslist.org/00707_6ZlIIpYmGf...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T14:40:24-0400,medium,2021-05-03 18:40:24+00:00
1847,7315151536,https://honolulu.craigslist.org/oah/ctd/d/fort...,hawaii,https://honolulu.craigslist.org,29988,2019.0,toyota,sienna le fwd 8-passenger (natl),NaN,18762,clean,automatic,https://images.craigslist.org/00R0R_dO0gtiRwLa...,***Call Us for more information at: 877-262-34...,hi,21.344376,-157.896975,2021-04-30T16:25:22-1000,high,2021-05-01 02:25:22+00:00
1970,7316383024,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,10742,2016.0,volkswagen,passat 4dr sdn 1.8t auto r-line pzev,NaN,54477,clean,automatic,https://images.craigslist.org/00f0f_7yS2mCosQE...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:45:18-0400,medium,2021-05-03 19:45:18+00:00
2034,7314304193,https://sanantonio.craigslist.org/ctd/d/san-an...,san antonio,https://sanantonio.craigslist.org,16995,2018.0,mitsubishi,outlander sport es 2.0 cvt,NaN,25655,clean,automatic,https://images.craigslist.org/00D0D_gChRpTglWZ...,2018 Mitsubishi Outlander Sport ES 2.0 CVT ...,tx,29.529409,-98.496166,2021-04-29T09:45:30-0500,medium,2021-04-29 14:45:30+00:00
2129,7302733118,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,14700,2016.0,ford,fusion,NaN,95674,NaN,NaN,https://images.craigslist.org/00O0O_fkFRDDi4yq...,Car Starz Call Sales at 717-401-4221 2016 Ford...,pa,41.261540,-78.704520,2021-04-06T14:39:29-0400,medium,2021-04-06 18:39:29+00:00
2367,7314161453,https://honolulu.craigslist.org/oah/ctd/d/hono...,hawaii,https://honolulu.craigslist.org,18000,2017.0,dodge,journey,NaN,30273,clean,automatic,https://images.craigslist.org/00404_aEGhCFEEz3...,"2017 *Dodge* *Journey* SXT FWD SUV - $18,000Ca...",hi,21.318059,-157.865187,2021-04-28T16:00:34-1000,medium,2021-04-29 02:00:34+00:00
2711,7309203638,https://wenatchee.craigslist.org/ctd/d/wenatch...,wenatchee,https://wenatchee.craigslist.org,32880,2017.0,ford,f-150,NaN,70927,clean,automatic,https://images.craigslist.org/00404_82ntZ72mES...,"2017 *Ford* *F-150* XLT Truck - $32,880Call or...",wa,47.434493,-120.320759,2021-04-19T07:10:47-0700,high,2021-04-19 14:10:47+00:00
2806,7315330404,https://washingtondc.craigslist.org/nva/ctd/d/...,"washington, DC",https://washingtondc.craigslist.org,16995,2012.0,cadillac,escalade awd 4dr luxury,NaN,153932,clean,automatic,https://images.craigslist.org/00101_ks8k5Dx5M2...,2012 Cadillac Escalade AWD 4dr Luxury C...,dc,38.884033,-77.097657,2021-05-01T12:01:27-0400,medium,2021-05-01 16:01:27+00:00
2840,7313525045,https://cnj.craigslist.org/ctd/d/parlin-2019-n...,central NJ,https://cnj.craigslist.org,15887,2019.0,nissan,altima 2.5 s sedan,NaN,42683,clean,automatic,https://images.craigslist.org/01616_3tegH6j52E...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-27T16:35:24-0400,medium,2021-04-27 20:35:24+00:00
2896,7310562680,https://newjersey.craigslist.org/ctd/d/parlin-...,north jersey,https://newjersey.craigslist.org,23717,2018.0,alfa-romeo,romeo stelvio awd,NaN,55645,clean,automatic,https://images.craigslist.org/01111_euhp0VXlye...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-21T17:25:32-0400,high,2021-04-21 21:25:32+00:00
2937,7309460386,https://cincinnati.craigslist.org/ctd/d/camp-d...,cincinnati,https://cincinnati.craigslist.org,9995,2014.0,chevrolet,cruze 4dr sdn auto 1lt,NaN,80859,clean,automatic,https://images.craigslist.org/00606_boG5lumdt0...,***Call Us for more information at: 513-453-41...,oh,39.171991,-84.271999,2021-04-19T16:20:13-0400,medium,2021-04-19 20:20:13+00:00
2975,7314857030,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,9493,2013.0,honda,civic sdn 4dr auto lx,NaN,140793,clean,automatic,https://images.craigslist.org/00X0X_3CTPHZ93GI...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-04-30T10:25:28-0600,low,2021-04-30 16:25:28+00:00
3103,7314544641,https://cnj.craigslist.org/ctd/d/parlin-2017-d...,central NJ,https://cnj.craigslist.org,15000,2017.0,dodge,grand caravan se wagon,NaN,29982,clean,automatic,https://images.craigslist.org/00X0X_dbn3lTfaSy...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-29T17:45:45-0400,medium,2021-04-29 21:45:45+00:00
3216,7304158723,https://bham.craigslist.org/ctd/d/new-castle-2...,birmingham,https://bham.craigslist.org,26500,2014.0,gmc,sierra 1500,NaN,162934,clean,automatic,https://images.craigslist.org/00a0a_j5GjqgsLVW...,"2014 *GMC* *Sierra 1500* 4WD Crew Cab 143.5"" S...",al,33.669601,-86.817617,2021-04-09T10:11:24-0500,high,2021-04-09 15:11:24+00:00
3228,7309551647,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,18499,2016.0,jeep,renegade 4wd 4dr trailhawk,NaN,75314,clean,automatic,https://images.craigslist.org/00W0W_5sXgFdHJO9...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-04-19T17:05:21-0600,medium,2021-04-19 23:05:21+00:00
3379,7304419189,https://cincinnati.craigslist.org/ctd/d/camp-d...,cincinnati,https://cincinnati.craigslist.org,9700,2011.0,toyota,corolla 4dr sdn auto s (natl),NaN,126872,clean,automatic,https://images.craigslist.org/00y0y_kSkbjQHfGP...,***Call Us for more information at: 513-453-41...,oh,39.171991,-84.271999,2021-04-09T18:15:24-0400,medium,2021-04-09 22:15:24+00:00
3691,7310520763,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,2450,2005.0,infiniti,g35 sedan g35 4dr sdn auto,NaN,140782,clean,automatic,https://images.craigslist.org/00g0g_4Ljc5MYi8r...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-04-21T14:10:26-0600,low,2021-04-21 20:10:26+00:00
3754,7308856751,https://eugene.craigslist.org/ctd/d/eugene-200...,eugene,https://eugene.craigslist.org,26900,2006.0,ram,2500 4dr quad cab 160.5 4wd slt,NaN,177001,clean,manual,https://images.craigslist.org/00Y0Y_vNEe5hSHH9...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-18T11:35:16-0700,high,2021-04-18 18:35:16+00:00
3814,7314143519,https://boise.craigslist.org/ctd/d/nampa-1971-...,boise,https://boise.craigslist.org,10395,1971.0,other,American LaFrance Fire Truck,NaN,78974,clean,NaN,https://images.craigslist.org/00909_aLVPntLOWj...,"1971 American LaFrance Fire Truck - $10,395....",id,43.593700,-116.536000,2021-04-28T19:02:38-0600,medium,2021-04-29 01:02:38+00:00
3834,7311269192,https://omaha.craigslist.org/ctd/d/council-blu...,omaha / council bluffs,https://omaha.craigslist.org,9995,2016.0,ford,focus,NaN,38505,NaN,automatic,https://images.craigslist.org/00o0o_jpNzU8uGRA...,"2016 *Ford* *Focus* 4dr Sedan Titanium - $9,99...",ia,41.229172,-95.852118,2021-04-23T07:20:53-0500,medium,2021-04-23 12:20:53+00:00
4998,7311631527,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://nashville.craigslist.org,12995,2014.0,jeep,cherokee,NaN,103028,NaN,automatic,https://images.craigslist.org/00x0x_hptQ5xMo66...,VIN: 1C4PJMAB1EW106979Year: 2014Make: JEEPMode...,tn,36.235220,-86.758300,2021-04-23T18:01:00-0500,medium,2021-04-23 23:01:00+00:00
5245,7312115428,https://eugene.craigslist.org/ctd/d/eugene-201...,eugene,https://eugene.craigslist.org,9828,2010.0,volkswagen,tiguan fwd 4dr sel,NaN,121515,clean,automatic,https://images.craigslist.org/00f0f_6z7FlCkp2G...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-24T15:30:11-0700,medium,2021-04-24 22:30:11+00:00
5260,7307388962,https://medford.craigslist.org/ctd/d/medford-2...,medford-ashland,https://medford.craigslist.org,14984,2010.0,ford,expedition,NaN,128975,NaN,NaN,https://images.craigslist.org/00B0B_aSYu1CvWOQ...,2010 Ford Expedition Eddie Bauer Sport Utility...,or,42.329925,-122.875811,2021-04-15T13:28:27-0700,medium,2021-04-15 20:28:27+00:00
5577,7314750640,https://syracuse.craigslist.org/ctd/d/johnstow...,syracuse,https://syracuse.craigslist.org,5595,2011.0,gmc,starcraft,NaN,0,NaN,automatic,https://images.craigslist.org/00a0a_c2wkMhtR81...,"2011 *GMC* *STARCRAFT* QUEST DRW - $5,595Call ...",ny,43.008105,-74.352011,2021-04-30T09:11:31-0400,low,2021-04-30 13:11:31+00:00
5811,7314282600,https://washingtondc.craigslist.org/nva/ctd/d/...,"washington, DC",https://washingtondc.craigslist.org,18595,2015.0,honda,odyssey 5dr touring elite,NaN,107176,clean,automatic,https://images.craigslist.org/00r0r_6a7U1DBrVv...,2015 Honda Odyssey 5dr Touring Elite Ca...,dc,38.884033,-77.097657,2021-04-29T10:02:00-0400,medium,2021-04-29 14:02:00+00:00
5891,7310526453,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,1750,2003.0,nissan,xterra 4dr xe 2wd v6 auto,NaN,201570,clean,automatic,https://images.craigslist.org/00U0U_8aitnvaflm...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-04-21T14:20:28-0600,low,2021-04-21 20:20:28+00:00
5948,7316686098,https://cnj.craigslist.org/ctd/d/hillside-2019...,central NJ,https://cnj.craigslist.org,28900,2019.0,honda,cr-v ex-l awd,NaN,15392,clean,automatic,https://images.craigslist.org/00707_YP0z08DLmH...,***Call Us for more information at: 973-354-52...,nj,40.697349,-74.219903,2021-05-04T10:01:53-0400,high,2021-05-04 14:01:53+00:00
6060,7310551940,https://cincinnati.craigslist.org/ctd/d/camp-d...,cincinnati,https://cincinnati.craigslist.org,58500,2019.0,chevrolet,"silverado 2500hd 4wd crew cab 153.7"" ltz",NaN,50930,clean,automatic,https://images.craigslist.org/01010_ldls5xr3zz...,***Call Us for more information at: 513-453-41...,oh,39.171991,-84.271999,2021-04-21T17:05:31-0400,high,2021-04-21 21:05:31+00:00
6142,7314719321,https://kpr.craigslist.org/ctd/d/yakima-2020-n...,kennewick-pasco-richland,https://kpr.craigslist.org,16999,2020.0,nissan,versa sv,NaN,24140,NaN,other,https://images.craigslist.org/01313_kxS9Hqa3vo...,"2020 Nissan Versa SV - $16,999 \tOne Stop \t17...",wa,46.585652,-120.478580,2021-04-30T04:13:41-0700,medium,2021-04-30 11:13:41+00:00
6162,7316456657,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,9788,2013.0,hyundai,sonata 4dr sdn 2.4l auto limited,NaN,117773,clean,automatic,https://images.craigslist.org/00h0h_i7XoHUvw0i...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-05-03T15:55:22-0600,medium,2021-05-03 21:55:22+00:00
6172,7305971655,https://lancaster.craigslist.org/ctd/d/brockpo...,lancaster,https://lancaster.craigslist.org,7600,2012.0,jeep,patriot,NaN,95674,NaN,NaN,https://images.craigslist.org/00909_hw8K8SHtsk...,Car Starz Call Sales at 717-401-4221 2012 Jeep...,pa,41.261540,-78.704520,2021-04-12T21:08:22-0400,low,2021-04-13 01:08:22+00:00
6304,7304094040,https://elpaso.craigslist.org/ctd/d/johnstown-...,el paso,https://elpaso.craigslist.org,8500,2010.0,other,INTERNATIONAL IC,NaN,134385,NaN,automatic,https://images.craigslist.org/00n0n_eGFH9KY70W...,"2010 *INTERNATIONAL* *IC* CE300 - $8,500Call U...",tx,43.008105,-74.352011,2021-04-09T07:12:52-0600,low,2021-04-09 13:12:52+00:00
6572,7314261064,https://omaha.craigslist.org/ctd/d/council-blu...,omaha / council bluffs,https://omaha.craigslist.org,13995,2016.0,ford,taurus,NaN,49020,NaN,automatic,https://images.craigslist.org/00L0L_hO1So9ovo1...,2016 *Ford* *Taurus* 4dr Sedan Limited AWD - $...,ia,41.229172,-95.852118,2021-04-29T08:12:45-0500,medium,2021-04-29 13:12:45+00:00
6627,7315111002,https://honolulu.craigslist.org/oah/ctd/d/fort...,hawaii,https://honolulu.craigslist.org,12900,2013.0,honda,civic sdn 4dr auto ex-l,NaN,68522,clean,automatic,https://images.craigslist.org/00e0e_5IiDyEzZOh...,***Call Us for more information at: 877-262-34...,hi,21.344376,-157.896975,2021-04-30T14:15:25-1000,medium,2021-05-01 00:15:25+00:00
6817,7310860252,https://charlotte.craigslist.org/ctd/d/greensb...,charlotte,https://charlotte.craigslist.org,6998,2008.0,honda,civic cpe,NaN,95674,NaN,NaN,https://images.craigslist.org/00l0l_3evmKC5YBJ...,2008 Honda Civic Cpe 2dr Auto EX-L Oak Ridge ...,nc,36.129540,-79.957520,2021-04-22T11:41:26-0400,low,2021-04-22 15:41:26+00:00
6922,7310766348,https://greensboro.craigslist.org/ctd/d/high-p...,greensboro,https://greensboro.craigslist.org,3999,2001.0,honda,civic,NaN,95674,NaN,NaN,https://images.craigslist.org/01212_hrL1gYZLbs...,Vann York Bargain Cars Call Sales at336-628-88...,nc,35.942696,-80.034679,2021-04-22T08:29:39-0400,low,2021-04-22 12:29:39+00:00
6967,7305911263,https://sarasota.craigslist.org/ctd/d/bradento...,sarasota-bradenton,https://sarasota.craigslist.org,7777,2014.0,chrysler,town & country,NaN,137312,clean,automatic,https://images.craigslist.org/00C0C_lj51oOvup7...,2014 *Chrysler* *Town & Country* 4dr Wagon Tou...,fl,27.473591,-82.570679,2021-04-12T18:43:37-0400,low,2021-04-12 22:43:37+00:00
7481,7313584978,https://cnj.craigslist.org/ctd/d/parlin-2019-h...,central NJ,https://cnj.craigslist.org,15886,2019.0,hyundai,elantra sel auto,NaN,8266,clean,automatic,https://images.craigslist.org/01717_fuY1H8n1EO...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-27T18:35:21-0400,medium,2021-04-27 22:35:21+00:00
8067,7310526393,https://newjersey.craigslist.org/ctd/d/parlin-...,north jersey,https://newjersey.craigslist.org,19787,2018.0,ford,edge sel awd,NaN,89484,clean,automatic,https://images.craigslist.org/00E0E_lXtpLTQwuT...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-21T16:20:20-0400,medium,2021-04-21 20:20:20+00:00
8269,7314112375,https://westslope.craigslist.org/ctd/d/grand-j...,western slope,https://westslope.craigslist.org,9995,2013.0,ford,fusion 4dr sdn se fwd,NaN,111576,clean,automatic,https://images.craigslist.org/00z0z_fFpkeQ8fzr...,***Call Us for more information at: 855-975-45...,co,39.081944,-108.588542,2021-04-28T17:40:29-0600,medium,2021-04-28 23:40:29+00:00
8307,7308149122,https://harrisburg.craigslist.org/ctd/d/sunbur...,harrisburg,https://harrisburg.craigslist.org,49995,2015.0,dodge,challenger hellcat 6-speed manual,NaN,4697,clean,manual,https://images.craigslist.org/00D0D_cjooG7lIJu...,2015 Dodge Challenger Hellcat 6-Speed Manual -...,pa,40.859162,-76.773484,2021-04-17T07:07:17-0400,high,2021-04-17 11:07:17+00:00
8773,7313576130,https://cnj.craigslist.org/ctd/d/parlin-2012-j...,central NJ,https://cnj.craigslist.org,23500,2012.0,jeep,wrangler unlimited 4wd 4dr sahara,NaN,105927,clean,automatic,https://images.craigslist.org/00u0u_erwAahcIeQ...,***Call Us for more information at: 732-316-55...,nj,40.468650,-74.296990,2021-04-27T18:15:18-0400,high,2021-04-27 22:15:18+00:00
9446,7309365699,https://fortmyers.craigslist.org/chl/ctd/d/bra...,ft myers / SW florida,https://fortmyers.craigslist.org,14997,2010.0,ford,e-350,NaN,153120,clean,manual,https://images.craigslist.org/00606_hQvq6K6D4p...,"2010 *Ford* *E-350* 12 Passenger Van - $14,997...",fl,27.479823,-82.571497,2021-04-19T14:01:14-0400,medium,2021-04-19 18:01:14+00:00
9636,7313475467,https://eugene.craigslist.org/ctd/d/eugene-201...,eugene,https://eugene.craigslist.org,9979,2012.0,chevrolet,equinox awd 4dr lt w/1lt,NaN,165554,clean,automatic,https://images.craigslist.org/00q0q_haS6HKqYq4...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-27T12:10:24-0700,medium,2021-04-27 19:10:24+00:00
9805,7313949726,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,8900,2012.0,honda,accord,NaN,95674,NaN,NaN,https://images.craigslist.org/01212_dsfYRNhxfd...,Car Starz Call Sales at 717-401-4221 2012 Hond...,pa,41.261540,-78.704520,2021-04-28T14:25:32-0400,low,2021-04-28 18:25:32+00:00
9815,7314349617,https://eugene.craigslist.org/ctd/d/eugene-200...,eugene,https://eugene.craigslist.org,11976,2008.0,acura,mdx 4wd 4dr,NaN,156801,clean,automatic,https://images.craigslist.org/00K0K_8iyrQ1sWEh...,***Call Us for more information at: 541-228-94...,or,44.076513,-123.150156,2021-04-29T09:05:16-0700,medium,2021-04-29 16:05:16+00:00

Заполним незаполненные значения типа топлива значением other

In [13]:
df.fuel = df.fuel.fillna('other')
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,other,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

 Проверяем количество пропущенных значений в типе топлива для обновлённого датафрейма.

In [14]:
quant = df.fuel.isna().sum()
print(f"Количество пропущенных значений в fuel:{quant}")

Количество пропущенных значений в fuel:0

#### Обработка пропусков в модели автомобиля(model)

Количество значений для модели автомобиля, включая пропущенные значения

In [15]:
 df.model.value_counts(dropna = False)

f-150                        151
NaN                          126
silverado 1500               110
1500                         100
camry                         77
                            ...
sorrento lx v6                 1
sierra1500 crewcab 4x4         1
corolla se                     1
xc60 t6 inscription sport      1
a3 2.0t premium plus pzev      1
Name: model, Length: 3447, dtype: int64

Записи, в которых год выпуска автомобиля не заполнен

In [16]:
df[df.model.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
67,7316913641,https://ventura.craigslist.org/cto/d/camarillo...,ventura county,https://ventura.craigslist.org,3000,2005.0,rover,NaN,gas,165206,clean,automatic,https://images.craigslist.org/00S0S_b3yx6L4N2S...,2005 Range Rover HSE Changed Oil and now engi...,ca,34.219565,-119.001986,2021-05-04T13:11:15-0700,low,2021-05-04 20:11:15+00:00
142,7316550853,https://chicago.craigslist.org/chc/cto/d/midlo...,chicago,https://chicago.craigslist.org,3000,2006.0,jeep,NaN,gas,132000,clean,automatic,https://images.craigslist.org/01111_kNv3EKjH4H...,SUPER CLEAN 2006 JEEP LIBEERY RANAGADE 4X4 O...,il,41.618957,-87.726334,2021-05-03T20:33:40-0500,low,2021-05-04 01:33:40+00:00
151,7303575863,https://worcester.craigslist.org/ctd/d/fitchbu...,worcester / central MA,https://worcester.craigslist.org,7800,2007.0,gmc,NaN,gas,190000,clean,automatic,https://images.craigslist.org/00f0f_iWjiToqea2...,2007 gmc with plow leather loaded nice truck r...,ma,42.579600,-71.803100,2021-04-08T09:10:07-0400,low,2021-04-08 13:10:07+00:00
200,7315267860,https://gainesville.craigslist.org/ctd/d/kissi...,gainesville,https://gainesville.craigslist.org,19200,2012.0,ram,NaN,gas,121371,clean,automatic,https://images.craigslist.org/00W0W_hHV4D0Po0G...,2012 RAM 1500 Laramie Crew Cab 2WD Offered...,fl,28.329026,-81.404237,2021-05-01T10:05:17-0400,medium,2021-05-01 14:05:17+00:00
251,7316024407,https://reading.craigslist.org/ctd/d/paterson-...,reading,https://reading.craigslist.org,18695,2007.0,ram,NaN,diesel,220019,clean,automatic,https://images.craigslist.org/00n0n_jgq4eOvH7I...,2007 Dodge Ram 2500 SLT 4x4 Quad Cab Cummins D...,pa,40.894535,-74.152367,2021-05-02T21:06:09-0400,medium,2021-05-03 01:06:09+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9564,7314341390,https://desmoines.craigslist.org/cto/d/urbanda...,des moines,https://desmoines.craigslist.org,8000,2007.0,toyota,NaN,gas,85285,clean,automatic,https://images.craigslist.org/00K0K_aMoJgOIueB...,Toyota has been owned by non smoker with no pe...,ia,41.629500,-93.723000,2021-04-29T10:50:54-0500,low,2021-04-29 15:50:54+00:00
9616,7304358131,https://vermont.craigslist.org/ctd/d/salem-201...,vermont,https://vermont.craigslist.org,19944,2012.0,ram,NaN,gas,73082,clean,automatic,https://images.craigslist.org/00A0A_bfCaGJ20IX...,2012 RAM 1500 4WD REGULAR CAB SHORT BED 5.7 HE...,vt,42.788204,-71.233728,2021-04-09T16:24:23-0400,medium,2021-04-09 20:24:23+00:00
9670,7309686008,https://louisville.craigslist.org/cto/d/radcli...,louisville,https://louisville.craigslist.org,1600,2005.0,gmc,NaN,gas,52536,clean,automatic,https://images.craigslist.org/01111_99unV6cYER...,GMC Savana PRO AWD cargo van has been driven l...,ky,37.858900,-86.006900,2021-04-20T04:48:30-0400,low,2021-04-20 08:48:30+00:00
9926,7316447901,https://tulsa.craigslist.org/cto/d/tulsa-2017-...,tulsa,https://tulsa.craigslist.org,65000,2017.0,rover,NaN,gas,47000,clean,automatic,https://images.craigslist.org/00s0s_iGpmplDL99...,"2017 Range Rover HSE, supercharged V8, silver ...",ok,36.126200,-95.940800,2021-05-03T16:37:36-0500,high,2021-05-03 21:37:36+00:00
9972,7316458200,https://portland.craigslist.org/mlt/cto/d/port...,portland,https://portland.craigslist.org,18500,1972.0,chevrolet,NaN,gas,75000,clean,automatic,https://images.craigslist.org/00x0x_7FqS8iHJst...,1972 classic Chevrolet pick up custom deluxe ...,or,45.494960,-122.666988,2021-05-03T14:58:34-0700,medium,2021-05-03 21:58:34+00:00

Заполним незаполненные значения типа топлива значением other

In [17]:
df.model = df.model.fillna('other')
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,other,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

 Проверяем количество пропущенных значений в типе топлива для обновлённого датафрейма.

In [18]:
quant = df.model.isna().sum()
print(f"Количество пропущенных значений в model:{quant}")

Количество пропущенных значений в model:0

#### Обработка пропусков в статусе автомобиля(title_status)

Количество значений для статуса автомобиля, включая пропущенные значения.

In [19]:
 df.title_status.value_counts(dropna = False)

clean         9492
rebuilt        168
NaN            159
salvage         92
lien            35
missing         16
parts only       2
Name: title_status, dtype: int64

Описательные статистики для модели автомобиля.

In [20]:
df.title_status.describe(include = 'all')

count      9805
unique        6
top       clean
freq       9492
Name: title_status, dtype: object

Записи, в которых статус автомобиля не заполнен

In [21]:
df[df.title_status.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
11,7316540706,https://cincinnati.craigslist.org/ctd/d/fairfi...,cincinnati,https://cincinnati.craigslist.org,4995,2012.0,fiat,500 pop,gas,59242,NaN,manual,https://images.craigslist.org/00Z0Z_jbUmVcYlwR...,"2012 Fiat 500 Pop FOR ONLY $102/mo!59,242 mi. ...",oh,39.297045,-84.563243,2021-05-03T21:03:32-0400,low,2021-05-04 01:03:32+00:00
187,7313570594,https://orangecounty.craigslist.org/ctd/d/coro...,orange county,https://orangecounty.craigslist.org,17900,2013.0,ram,1500 tradesman quad cab,gas,145499,NaN,automatic,https://images.craigslist.org/00H0H_1JFMPCYyW8...,2013 Ram 1500 Tradesman Quad Cab PRICED TO SEL...,ca,33.873436,-117.542806,2021-04-27T15:03:47-0700,medium,2021-04-27 22:03:47+00:00
245,7315211652,https://ocala.craigslist.org/ctd/d/riverview-2...,ocala,https://ocala.craigslist.org,40990,2019.0,toyota,sienna xle,gas,3700,NaN,automatic,https://images.craigslist.org/01111_grKNF8GrXz...,2019 Toyota Sienna - Wheelchair Accessible Han...,fl,27.849760,-82.364950,2021-05-01T06:35:56-0400,high,2021-05-01 10:35:56+00:00
286,7306702976,https://toledo.craigslist.org/ctd/d/chelsea-73...,toledo,https://toledo.craigslist.org,4592,2003.0,chevrolet,avalanche 1500,gas,268691,NaN,automatic,https://images.craigslist.org/00808_1IOMJuA4GL...,$73/mo - 2003 Chevrolet Avalanche 1500 BaseCre...,oh,42.300673,-84.024108,2021-04-14T12:03:01-0400,low,2021-04-14 16:03:01+00:00
312,7307609203,https://roseburg.craigslist.org/ctd/d/eugene-2...,roseburg,https://roseburg.craigslist.org,18450,2017.0,ford,mustang,gas,66049,NaN,automatic,https://images.craigslist.org/00505_4apF36sLbP...,"2017 Ford MUSTANG - $18,450 \tMayberry Motors ...",or,44.058499,-123.106176,2021-04-16T04:06:29-0700,medium,2021-04-16 11:06:29+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9740,7301707830,https://tricities.craigslist.org/ctd/d/bristol...,tri-cities,https://tricities.craigslist.org,8995,2013.0,honda,odyssey,gas,203112,NaN,automatic,https://images.craigslist.org/00u0u_bawW7HN8xW...,"2013 *Honda* *Odyssey* 5dr EX Van FWD - $8,995...",tn,36.541821,-82.234645,2021-04-04T13:12:27-0400,low,2021-04-04 17:12:27+00:00
9805,7313949726,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,8900,2012.0,honda,accord,other,95674,NaN,NaN,https://images.craigslist.org/01212_dsfYRNhxfd...,Car Starz Call Sales at 717-401-4221 2012 Hond...,pa,41.261540,-78.704520,2021-04-28T14:25:32-0400,low,2021-04-28 18:25:32+00:00
9840,7314987181,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://nashville.craigslist.org,20900,2014.0,lexus,rx 350,gas,70800,NaN,automatic,https://images.craigslist.org/00Q0Q_cGablAkoYV...,2014 *Lexus* *RX 350* 2014 LEXUS RX 350 SUV 1-...,tn,36.138022,-86.732261,2021-04-30T15:00:48-0500,medium,2021-04-30 20:00:48+00:00
9856,7309717260,https://savannah.craigslist.org/ctd/d/jacksonv...,savannah / hinesville,https://savannah.craigslist.org,11495,2006.0,lexus,gx 470,gas,242000,NaN,automatic,https://images.craigslist.org/00s0s_8xg4gw6aAg...,"2006 *Lexus* *GX 470* 4dr SUV 4WD - $11,495By ...",ga,30.513566,-81.621875,2021-04-20T08:01:49-0400,medium,2021-04-20 12:01:49+00:00
9981,7315557731,https://minneapolis.craigslist.org/csw/ctd/d/d...,minneapolis / st paul,https://minneapolis.craigslist.org,38943,2008.0,ford,f750 super duty - 55ft,diesel,81214,NaN,automatic,https://images.craigslist.org/00y0y_5jr8fQlu7e...,2008 Ford F750 F 750 F-750 Super Duty 55ft 55 ...,mn,45.082884,-94.334760,2021-05-01T18:03:06-0500,high,2021-05-01 23:03:06+00:00

Заполним незаполненные значения статуса автомобиля самым популярным значением, т.е. модой

In [22]:
df.title_status = df.title_status.fillna(df.title_status.mode)

Проверим для обновлённого датафрейма количество пропущенных значений для статуса автомобиля.

In [23]:
quant = df.title_status.isna().sum()
print(f"Количество пропущенных значений в title_status:{quant}")

Количество пропущенных значений в title_status:0

#### Обработка пропусков в коробке передач(transmission)

Количество значений для коробки передач, включая пропущенные значения

In [24]:
 df.transmission.value_counts(dropna = False)

automatic    7667
other        1623
manual        631
NaN            43
Name: transmission, dtype: int64

Записи, в которых год выпуска автомобиля не заполнен

In [25]:
df[df.transmission.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
111,7305109580,https://grandrapids.craigslist.org/ctd/d/comst...,grand rapids,https://grandrapids.craigslist.org,12750,2013.0,lexus,es,gas,109382,clean,NaN,https://images.craigslist.org/00n0n_kACT1l7OCN...,2013 Lexus ES 350 4dr Sdn Offered by: Auto...,mi,43.059210,-85.688970,2021-04-11T09:41:58-0400,medium,2021-04-11 13:41:58+00:00
112,7314951119,https://southjersey.craigslist.org/ctd/d/chest...,south jersey,https://southjersey.craigslist.org,18199,2012.0,jeep,wrangler,other,130174,clean,NaN,https://images.craigslist.org/00I0I_gRmuXmqil1...,2012 Jeep Wrangler Unlimited Sport 4WD Off...,nj,40.135190,-74.703570,2021-04-30T14:58:56-0400,medium,2021-04-30 18:58:56+00:00
817,7308021604,https://southjersey.craigslist.org/ctd/d/maple...,south jersey,https://southjersey.craigslist.org,11999,2015.0,honda,civic,gas,79797,clean,NaN,https://images.craigslist.org/00b0b_aCqgRZ7sAx...,2015 Honda Civic EX Offered by: VIP Auto O...,nj,39.938023,-74.971461,2021-04-16T19:46:55-0400,medium,2021-04-16 23:46:55+00:00
931,7314781483,https://nh.craigslist.org/ctd/d/plaistow-2018-...,new hampshire,https://nh.craigslist.org,64990,2018.0,ram,3500,other,8853,clean,NaN,https://images.craigslist.org/00000_iHpXs2BVmN...,2018 RAM Ram Chassis 3500 Short Wheelbase (Dua...,nh,42.834977,-71.107791,2021-04-30T10:15:30-0400,high,2021-04-30 14:15:30+00:00
970,7315044723,https://poconos.craigslist.org/ctd/d/chesterfi...,poconos,https://poconos.craigslist.org,22699,2014.0,jeep,wrangler,gas,110493,clean,NaN,https://images.craigslist.org/00M0M_aFDXWIfug9...,2014 Jeep Wrangler Unlimited Sport 4WD Off...,pa,40.135190,-74.703570,2021-04-30T17:46:04-0400,high,2021-04-30 21:46:04+00:00
1156,7311083008,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://greenville.craigslist.org,9998,2013.0,volkswagen,jetta,diesel,96115,clean,NaN,https://images.craigslist.org/00F0F_9oq0KNmZIM...,2013 VOLKSWAGEN JETTA TDI Highline Offered...,sc,34.832550,-82.368350,2021-04-22T17:55:57-0400,medium,2021-04-22 21:55:57+00:00
1349,7303942891,https://wenatchee.craigslist.org/ctd/d/everett...,wenatchee,https://wenatchee.craigslist.org,4995,2005.0,honda,pilot,gas,261591,clean,NaN,https://images.craigslist.org/00S0S_aASnH27HDH...,2005 Honda Pilot EX Offered by: Corn Motor...,wa,47.912956,-122.235725,2021-04-08T16:52:48-0700,low,2021-04-08 23:52:48+00:00
1715,7310344536,https://roanoke.craigslist.org/ctd/d/roanoke-2...,roanoke,https://roanoke.craigslist.org,3995,2007.0,ford,mustang,gas,159342,clean,NaN,https://images.craigslist.org/00J0J_6BuTyEWqNQ...,2007 Ford Mustang V6 Deluxe Coupe Offered ...,va,37.335355,-79.859385,2021-04-21T11:30:46-0400,low,2021-04-21 15:30:46+00:00
1914,7307857568,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://fortmyers.craigslist.org,17000,2012.0,jeep,grand cherokee,gas,116079,clean,NaN,https://images.craigslist.org/00000_gqxck1dkEu...,2012 Jeep Grand Cherokee Limited Offered b...,fl,26.498960,-81.819380,2021-04-16T14:46:41-0400,medium,2021-04-16 18:46:41+00:00
2023,7314592581,https://pueblo.craigslist.org/ctd/d/pueblo-200...,pueblo,https://pueblo.craigslist.org,8494,2004.0,ford,ranger,gas,156969,clean,NaN,https://images.craigslist.org/01212_6ixSUy4WCq...,2004 Ford Ranger Offered by: Discount Moto...,co,38.298339,-104.616024,2021-04-29T17:30:13-0600,low,2021-04-29 23:30:13+00:00
2072,7307459834,https://tallahassee.craigslist.org/ctd/d/ocala...,tallahassee,https://tallahassee.craigslist.org,22900,2013.0,ford,f-450,other,225804,clean,NaN,https://images.craigslist.org/00Y0Y_73hcVVn32A...,2013 Ford F-450 Super Duty 4X2 4dr SuperCab 16...,fl,29.230860,-82.149150,2021-04-15T18:47:10-0400,high,2021-04-15 22:47:10+00:00
2078,7314485544,https://stlouis.craigslist.org/ctd/d/saint-pet...,"st louis, MO",https://stlouis.craigslist.org,15891,2019.0,nissan,sentra,gas,90811,clean,NaN,https://images.craigslist.org/00T0T_2tloqlG3YB...,2019 Nissan Sentra SV Offered by: Auto Pla...,il,38.802269,-90.673649,2021-04-29T14:55:20-0500,medium,2021-04-29 19:55:20+00:00
2129,7302733118,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,14700,2016.0,ford,fusion,other,95674,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/00O0O_fkFRDDi4yq...,Car Starz Call Sales at 717-401-4221 2016 Ford...,pa,41.261540,-78.704520,2021-04-06T14:39:29-0400,medium,2021-04-06 18:39:29+00:00
2627,7314386590,https://roanoke.craigslist.org/ctd/d/roanoke-2...,roanoke,https://roanoke.craigslist.org,7995,2013.0,nissan,altima,gas,87004,clean,NaN,https://images.craigslist.org/00E0E_T1UmvdZBIq...,2013 Nissan Altima 2.5 SL Offered by: Blue...,va,37.335355,-79.859385,2021-04-29T13:05:26-0400,low,2021-04-29 17:05:26+00:00
3192,7307686006,https://cincinnati.craigslist.org/ctd/d/newpor...,cincinnati,https://cincinnati.craigslist.org,7995,2012.0,chevrolet,volt,hybrid,72205,clean,NaN,https://images.craigslist.org/00Y0Y_l66xSh7dIq...,2012 Chevrolet Chevy Volt Premium Offered ...,oh,39.002570,-84.423424,2021-04-16T10:31:31-0400,low,2021-04-16 14:31:31+00:00
3551,7310989457,https://oklahomacity.craigslist.org/ctd/d/fort...,oklahoma city,https://oklahomacity.craigslist.org,10495,2016.0,subaru,outback,gas,205315,clean,NaN,https://images.craigslist.org/00909_iyoxNVG6Hv...,Se Habla Español! This GORGEOUS Subaru Outback...,ok,39.029900,-96.839600,2021-04-22T14:06:51-0500,medium,2021-04-22 19:06:51+00:00
3814,7314143519,https://boise.craigslist.org/ctd/d/nampa-1971-...,boise,https://boise.craigslist.org,10395,1971.0,other,American LaFrance Fire Truck,other,78974,clean,NaN,https://images.craigslist.org/00909_aLVPntLOWj...,"1971 American LaFrance Fire Truck - $10,395....",id,43.593700,-116.536000,2021-04-28T19:02:38-0600,medium,2021-04-29 01:02:38+00:00
3821,7314284239,https://gainesville.craigslist.org/ctd/d/kissi...,gainesville,https://gainesville.craigslist.org,12600,2012.0,lexus,is,gas,119123,clean,NaN,https://images.craigslist.org/00a0a_iLNqrX7M6C...,2012 Lexus IS 250 RWD Offered by: WE ARE O...,fl,28.329026,-81.404237,2021-04-29T10:05:17-0400,medium,2021-04-29 14:05:17+00:00
3938,7313340095,https://flint.craigslist.org/ctd/d/burton-2018...,flint,https://flint.craigslist.org,8999,2018.0,nissan,sentra,gas,100502,clean,NaN,https://images.craigslist.org/01313_1Otgvohan8...,2018 NISSAN SENTRA SV Offered by: Tom's Di...,mi,43.004529,-83.635055,2021-04-27T11:36:15-0400,low,2021-04-27 15:36:15+00:00
4087,7309751102,https://providence.craigslist.org/ctd/d/hookse...,rhode island,https://providence.craigslist.org,29888,2015.0,jeep,wrangler,gas,79873,clean,NaN,https://images.craigslist.org/00r0r_3nZoSFWLjf...,2015 Jeep Wrangler Rubicon 4WD Offered by:...,ri,43.066264,-71.447000,2021-04-20T09:32:59-0400,high,2021-04-20 13:32:59+00:00
5081,7316685506,https://tampa.craigslist.org/hil/ctd/d/brandon...,tampa bay area,https://tampa.craigslist.org,16991,2016.0,ford,mustang,gas,81028,clean,NaN,https://images.craigslist.org/00q0q_ff4BI4TwI4...,2016 Ford Mustang EcoBoost Offered by: Bra...,fl,27.946392,-82.342089,2021-05-04T10:01:03-0400,medium,2021-05-04 14:01:03+00:00
5260,7307388962,https://medford.craigslist.org/ctd/d/medford-2...,medford-ashland,https://medford.craigslist.org,14984,2010.0,ford,expedition,other,128975,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/00B0B_aSYu1CvWOQ...,2010 Ford Expedition Eddie Bauer Sport Utility...,or,42.329925,-122.875811,2021-04-15T13:28:27-0700,medium,2021-04-15 20:28:27+00:00
5320,7315518091,https://inlandempire.craigslist.org/ctd/d/font...,inland empire,https://inlandempire.craigslist.org,20775,2012.0,gmc,yukon,gas,104908,clean,NaN,https://images.craigslist.org/00y0y_jYD9hosoC3...,2012 GMC Yukon SLT Offered by: R & B AUTOS...,ca,34.107223,-117.455322,2021-05-01T14:30:28-0700,medium,2021-05-01 21:30:28+00:00
5475,7303944212,https://yakima.craigslist.org/ctd/d/everett-20...,yakima,https://yakima.craigslist.org,7995,2013.0,dodge,grand caravan,gas,144401,clean,NaN,https://images.craigslist.org/00e0e_gr1IsBb5XA...,2013 Dodge Grand Caravan SE Offered by: Co...,wa,47.912956,-122.235725,2021-04-08T16:56:02-0700,low,2021-04-08 23:56:02+00:00
5491,7302829978,https://greenville.craigslist.org/ctd/d/greenv...,greenville / upstate,https://greenville.craigslist.org,12988,2016.0,jeep,compass,gas,129674,clean,NaN,https://images.craigslist.org/00d0d_lHeM5HIRyZ...,2016 JEEP COMPASS 4X4 LATITUDE Offered by:...,sc,34.801450,-82.426210,2021-04-06T17:21:49-0400,medium,2021-04-06 21:21:49+00:00
6172,7305971655,https://lancaster.craigslist.org/ctd/d/brockpo...,lancaster,https://lancaster.craigslist.org,7600,2012.0,jeep,patriot,other,95674,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/00909_hw8K8SHtsk...,Car Starz Call Sales at 717-401-4221 2012 Jeep...,pa,41.261540,-78.704520,2021-04-12T21:08:22-0400,low,2021-04-13 01:08:22+00:00
6682,7303882218,https://chico.craigslist.org/ctd/d/sacramento-...,chico,https://chico.craigslist.org,27995,2018.0,ford,f-150,gas,72005,clean,NaN,https://images.craigslist.org/00Z0Z_eRA2RnvAhM...,2018 Ford F-150 F150 F 150 XL 2WD SuperCrew 5....,ca,38.611927,-121.423118,2021-04-08T14:42:05-0700,high,2021-04-08 21:42:05+00:00
6757,7308278778,https://lincoln.craigslist.org/ctd/d/fort-rile...,lincoln,https://lincoln.craigslist.org,17495,2013.0,jeep,grand cherokee,gas,119275,clean,NaN,https://images.craigslist.org/00z0z_hH9cJEl2uw...,Se Habla Español! This GORGEOUS Jeep Grand Che...,ne,39.029900,-96.839600,2021-04-17T11:07:19-0500,medium,2021-04-17 16:07:19+00:00
6817,7310860252,https://charlotte.craigslist.org/ctd/d/greensb...,charlotte,https://charlotte.craigslist.org,6998,2008.0,honda,civic cpe,other,95674,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/00l0l_3evmKC5YBJ...,2008 Honda Civic Cpe 2dr Auto EX-L Oak Ridge ...,nc,36.129540,-79.957520,2021-04-22T11:41:26-0400,low,2021-04-22 15:41:26+00:00
6851,7312392950,https://stlouis.craigslist.org/ctd/d/saint-pet...,"st louis, MO",https://stlouis.craigslist.org,24995,2015.0,ford,explorer,gas,101241,clean,NaN,https://images.craigslist.org/00B0B_e2X7o0yUFs...,2015 Ford Explorer Sport Offered by: Auto ...,il,38.802269,-90.673649,2021-04-25T12:13:13-0500,high,2021-04-25 17:13:13+00:00
6922,7310766348,https://greensboro.craigslist.org/ctd/d/high-p...,greensboro,https://greensboro.craigslist.org,3999,2001.0,honda,civic,other,95674,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/01212_hrL1gYZLbs...,Vann York Bargain Cars Call Sales at336-628-88...,nc,35.942696,-80.034679,2021-04-22T08:29:39-0400,low,2021-04-22 12:29:39+00:00
6933,7311954478,https://slo.craigslist.org/ctd/d/templeton-201...,san luis obispo,https://slo.craigslist.org,28991,2018.0,chevrolet,express,gas,40238,clean,NaN,https://images.craigslist.org/01414_jnE9CxLsEn...,2018 Chevrolet Chevy Express 2500 Work Van ...,ca,35.581556,-120.698513,2021-04-24T10:40:55-0700,high,2021-04-24 17:40:55+00:00
7018,7311616552,https://easttexas.craigslist.org/ctd/d/richard...,tyler / east TX,https://easttexas.craigslist.org,21999,2015.0,lexus,is,gas,66295,clean,NaN,https://images.craigslist.org/00e0e_gpfrBxDNfL...,2015 Lexus IS 250 ASE30L/GSE31L/GSE36L/GSE37L ...,tx,32.944193,-96.741595,2021-04-23T17:27:59-0500,medium,2021-04-23 22:27:59+00:00
7196,7307751569,https://ocala.craigslist.org/ctd/d/kissimmee-2...,ocala,https://ocala.craigslist.org,18500,2020.0,hyundai,elantra,gas,5115,clean,NaN,https://images.craigslist.org/00J0J_65hDZvLxFX...,2020 Hyundai Elantra Limited Offered by: W...,fl,28.329026,-81.404237,2021-04-16T12:11:35-0400,medium,2021-04-16 16:11:35+00:00
7751,7311607084,https://southjersey.craigslist.org/ctd/d/maple...,south jersey,https://southjersey.craigslist.org,27499,2019.0,lexus,ux,gas,16576,clean,NaN,https://images.craigslist.org/00R0R_hrj0btTe5R...,2019 Lexus UX 200 Base Offered by: VIP Aut...,nj,39.938023,-74.971461,2021-04-23T18:08:04-0400,high,2021-04-23 22:08:04+00:00
8019,7303721685,https://poconos.craigslist.org/ctd/d/chesterfi...,poconos,https://poconos.craigslist.org,9499,2012.0,mini,cooper s countryman,gas,116854,clean,NaN,https://images.craigslist.org/01111_bOO9FFof1L...,2012 Mini Countryman S ALL4 Offered by: Ca...,pa,40.135190,-74.703570,2021-04-08T13:11:31-0400,low,2021-04-08 17:11:31+00:00
8293,7315344895,https://slo.craigslist.org/ctd/d/templeton-201...,san luis obispo,https://slo.craigslist.org,16491,2012.0,ford,f-150,gas,119689,clean,NaN,https://images.craigslist.org/00I0I_hgsnr1wm1f...,2012 Ford F-150 F150 F 150 Offered by: Pas...,ca,35.581556,-120.698513,2021-05-01T09:25:34-0700,medium,2021-05-01 16:25:34+00:00
8722,7316880026,https://houston.craigslist.org/ctd/d/houston-2...,houston,https://houston.craigslist.org,9491,2012.0,ford,mustang,gas,97947,clean,NaN,https://images.craigslist.org/00j0j_3FFSCVEb7v...,2012 Ford Mustang V6 Coupe Offered by: Hou...,tx,29.721560,-95.524841,2021-05-04T14:14:45-0500,low,2021-05-04 19:14:45+00:00
9040,7316768908,https://portland.craigslist.org/clc/ctd/d/glad...,portland,https://portland.craigslist.org,25881,2020.0,nissan,leaf,electric,608,clean,NaN,https://images.craigslist.org/00o0o_gX4sj0dIcC...,2020 Nissan Leaf SV Offered by: Toyota of ...,or,45.381450,-122.606475,2021-05-04T09:21:15-0700,high,2021-05-04 16:21:15+00:00
9345,7312061144,https://fortmyers.craigslist.org/lee/ctd/d/for...,ft myers / SW florida,https://fortmyers.craigslist.org,13000,2017.0,jeep,patriot,gas,37398,clean,NaN,https://images.craigslist.org/00m0m_1awSQ4PROX...,2017 Jeep Patriot Sport SE Offered by: EVE...,fl,26.498960,-81.819380,2021-04-24T16:37:38-0400,medium,2021-04-24 20:37:38+00:00
9583,7304393640,https://anchorage.craigslist.org/ctd/d/anchora...,anchorage / mat-su,https://anchorage.craigslist.org,15995,2010.0,ford,e-350,gas,130626,clean,NaN,https://images.craigslist.org/00r0r_BeaE9Zxl4P...,2010 Ford E-Series Wagon E 350 SD 3dr Extended...,ak,61.161670,-149.863120,2021-04-09T13:27:13-0800,medium,2021-04-09 21:27:13+00:00
9725,7312289741,https://maine.craigslist.org/ctd/d/methuen-201...,maine,https://maine.craigslist.org,19995,2017.0,harley-davidson,davidson flhx / street gl,gas,8719,clean,NaN,https://images.craigslist.org/00808_6vpXSxNnic...,2017 Harley-Davidson FLHX SCREAMING EAGLE STAG...,me,42.756205,-71.210258,2021-04-25T09:42:51-0400,medium,2021-04-25 13:42:51+00:00
9805,7313949726,https://harrisburg.craigslist.org/ctd/d/brockp...,harrisburg,https://harrisburg.craigslist.org,8900,2012.0,honda,accord,other,95674,<bound method Series.mode of 0 clean\n1 ...,NaN,https://images.craigslist.org/01212_dsfYRNhxfd...,Car Starz Call Sales at 717-401-4221 2012 Hond...,pa,41.261540,-78.704520,2021-04-28T14:25:32-0400,low,2021-04-28 18:25:32+00:00

Заполним незаполненные значения типа топлива значением other

In [26]:
df.transmission = df.transmission.fillna('other')
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,other,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

 Проверяем количество пропущенных значений в типе топлива для обновлённого датафрейма.

In [27]:
quant = df.transmission.isna().sum()
print(f"Количество пропущенных значений в transmission:{quant}")

Количество пропущенных значений в transmission:0

#### Обработка пропусков в долготе и широте(lat, long)

Количество пропущенных значений в долготе и широте

In [28]:
quant_long = df.long.isna().sum()
print(f"Количество пропущенных значений в long:{quant_long}")

Количество пропущенных значений в long:96

In [29]:
 df.long.value_counts(dropna = False)

 NaN           96
-84.112200     88
-84.411811     79
-74.281707     73
-84.445400     54
               ..
-118.194959     1
-93.286303      1
-73.098000      1
-73.732600      1
-79.189500      1
Name: long, Length: 5075, dtype: int64

In [30]:
quant_lat = df.lat.isna().sum()
print(f"Количество пропущенных значений в lat:{quant_lat}")

Количество пропущенных значений в lat:96

Записи, в которых долгота не заполнена

In [31]:
df[df.long.isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
118,7312692841,https://tricities.craigslist.org/ctd/d/bmw-ser...,tri-cities,https://tricities.craigslist.org,17998,2012.0,bmw,5 series,gas,62665,clean,automatic,https://images.craigslist.org/00909_57Xyuj8AJH...,2012 BMW 5 Series 535i M Sport Heat & Cool Sea...,tn,NaN,NaN,2021-04-26T04:28:35-0400,medium,2021-04-26 08:28:35+00:00
126,7315526339,https://newjersey.craigslist.org/ctd/d/look-wh...,north jersey,https://newjersey.craigslist.org,22995,2014.0,bmw,7 series,gas,81085,clean,automatic,https://images.craigslist.org/00k0k_38TNTakyUf...,2014 BMW 7 Series 4dr Sdn 750Li xDrive AWD Aut...,nj,NaN,NaN,2021-05-01T17:49:09-0400,high,2021-05-01 21:49:09+00:00
502,7308641593,https://winstonsalem.craigslist.org/ctd/d/ford...,winston-salem,https://winstonsalem.craigslist.org,20998,2016.0,ford,transit cargo,gas,123825,clean,automatic,https://images.craigslist.org/00101_gwJT4WBNRo...,2016 Ford Transit Cargo Vans Work Van High Roo...,nc,NaN,NaN,2021-04-18T04:43:46-0400,medium,2021-04-18 08:43:46+00:00
567,7309282242,https://onslow.craigslist.org/ctd/d/mercedes-b...,jacksonville,https://onslow.craigslist.org,10810,2014.0,mercedes-benz,c-class,gas,124476,clean,automatic,https://images.craigslist.org/01414_6jNHxQwrKx...,2014 Mercedes Benz C Class C 250 Sport Coupe C...,nc,NaN,NaN,2021-04-19T12:06:28-0400,medium,2021-04-19 16:06:28+00:00
692,7314847134,https://atlanta.craigslist.org/atl/ctd/d/2008-...,atlanta,https://atlanta.craigslist.org,17900,2008.0,toyota,tundra,gas,96000,clean,automatic,https://images.craigslist.org/01313_6u7l4KgvV4...,Description: 2008 Toyota Tundra 5...,ga,NaN,NaN,2021-04-30T12:09:49-0400,medium,2021-04-30 16:09:49+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,7312710592,https://athensga.craigslist.org/ctd/d/bmw-x5-a...,athens,https://athensga.craigslist.org,14975,2013.0,bmw,x5,gas,97195,clean,automatic,https://images.craigslist.org/00i0i_kU6D0X9br2...,2013 BMW X5 xDrive35i Sport Activity Navigatio...,ga,NaN,NaN,2021-04-26T07:31:40-0400,medium,2021-04-26 11:31:40+00:00
9408,7311736404,https://raleigh.craigslist.org/ctd/d/lexus-nx-...,raleigh / durham / CH,https://raleigh.craigslist.org,28998,2018.0,lexus,nx 300,gas,19863,clean,automatic,https://images.craigslist.org/00Q0Q_j7S3aRy6Sw...,2018 Lexus NX 300 Navigation Sunroof Bluetooth...,nc,NaN,NaN,2021-04-24T00:54:33-0400,high,2021-04-24 04:54:33+00:00
9650,7315596665,https://newjersey.craigslist.org/ctd/d/wow-201...,north jersey,https://newjersey.craigslist.org,16495,2013.0,jeep,grand cherokee,other,90878,clean,automatic,https://images.craigslist.org/00v0v_awwo3NjD7Q...,2013 Jeep Grand Cherokee 4WD 4dr Laredo Automa...,nj,NaN,NaN,2021-05-01T20:53:57-0400,medium,2021-05-02 00:53:57+00:00
9668,7308677951,https://myrtlebeach.craigslist.org/ctd/d/ford-...,myrtle beach,https://myrtlebeach.craigslist.org,33647,2015.0,ford,f-250 super duty,diesel,153524,clean,automatic,https://images.craigslist.org/00f0f_1c0aGXmmCL...,2015 Ford F250 4x4 Truck Diesel Pickup Trucks ...,sc,NaN,NaN,2021-04-18T08:43:25-0400,high,2021-04-18 12:43:25+00:00
9915,7312622931,https://cincinnati.craigslist.org/cto/d/2005-d...,cincinnati,https://cincinnati.craigslist.org,7999,2005.0,ford,excursion 2005,diesel,210000,clean,automatic,https://images.craigslist.org/00E0E_i9lrp2qCVK...,Largest sport utility vehicle ever made in the...,oh,NaN,NaN,2021-04-25T21:12:31-0400,low,2021-04-26 01:12:31+00:00

Штаты, в которых находятся автомобили с незаполненной долготой

In [32]:
df[df.long.isna()].state.value_counts()

nc    25
va    14
ga    10
ct     9
fl     6
tn     5
nj     4
ny     4
ok     3
sc     3
oh     2
mo     2
ma     2
co     2
id     1
ia     1
wa     1
tx     1
ar     1
Name: state, dtype: int64

Загрузим файл с названиями штатов, их долготой и широтой (взят с сайта https://developers.google.com/)

In [34]:
df_states=pd.read_csv('data/states.csv')
df_states.head()

  state   latitude   longitude        name
0    AK  63.588753 -154.493062      Alaska
1    AL  32.318231  -86.902298     Alabama
2    AR  35.201050  -91.831833    Arkansas
3    AZ  34.048928 -111.093731     Arizona
4    CA  36.778261 -119.417932  California

Преобразовываем загруженный датафрейм в словарь

In [35]:
dict_frame=df_states.to_dict()
dict_frame

{'state': {0: 'AK',
  1: 'AL',
  2: 'AR',
  3: 'AZ',
  4: 'CA',
  5: 'CO',
  6: 'CT',
  7: 'DC',
  8: 'DE',
  9: 'FL',
  10: 'GA',
  11: 'HI',
  12: 'IA',
  13: 'ID',
  14: 'IL',
  15: 'IN',
  16: 'KS',
  17: 'KY',
  18: 'LA',
  19: 'MA',
  20: 'MD',
  21: 'ME',
  22: 'MI',
  23: 'MN',
  24: 'MO',
  25: 'MS',
  26: 'MT',
  27: 'NC',
  28: 'ND',
  29: 'NE',
  30: 'NH',
  31: 'NJ',
  32: 'NM',
  33: 'NV',
  34: 'NY',
  35: 'OH',
  36: 'OK',
  37: 'OR',
  38: 'PA',
  39: 'PR',
  40: 'RI',
  41: 'SC',
  42: 'SD',
  43: 'TN',
  44: 'TX',
  45: 'UT',
  46: 'VA',
  47: 'VT',
  48: 'WA',
  49: 'WI',
  50: 'WV',
  51: 'WY'},
 'latitude': {0: 63.588753,
  1: 32.318231,
  2: 35.20105,
  3: 34.048928,
  4: 36.778261,
  5: 39.550051,
  6: 41.603221,
  7: 38.905985,
  8: 38.910832,
  9: 27.664827,
  10: 32.157435,
  11: 19.898682,
  12: 41.878003,
  13: 44.068202,
  14: 40.633125,
  15: 40.551217,
  16: 39.011902,
  17: 37.839333,
  18: 31.244823,
  19: 42.407211,
  20: 39.045755,
  21: 45.253783,
  22: 44.314844,
  23: 46.729553,
  24: 37.964253,
  25: 32.354668,
  26: 46.879682,
  27: 35.759573,
  28: 47.551493,
  29: 41.492537,
  30: 43.193852,
  31: 40.058324,
  32: 34.97273,
  33: 38.80261,
  34: 43.299428,
  35: 40.417287,
  36: 35.007752,
  37: 43.804133,
  38: 41.203322,
  39: 18.220833,
  40: 41.580095,
  41: 33.836081,
  42: 43.969515,
  43: 35.517491,
  44: 31.968599,
  45: 39.32098,
  46: 37.431573,
  47: 44.558803,
  48: 47.751074,
  49: 43.78444,
  50: 38.597626,
  51: 43.075968},
 'longitude': {0: -154.493062,
  1: -86.902298,
  2: -91.831833,
  3: -111.093731,
  4: -119.417932,
  5: -105.782067,
  6: -73.087749,
  7: -77.033418,
  8: -75.52767,
  9: -81.515754,
  10: -82.907123,
  11: -155.665857,
  12: -93.097702,
  13: -114.742041,
  14: -89.398528,
  15: -85.602364,
  16: -98.484246,
  17: -84.270018,
  18: -92.145024,
  19: -71.382437,
  20: -76.641271,
  21: -69.445469,
  22: -85.602364,
  23: -94.6859,
  24: -91.831833,
  25: -89.398528,
  26: -110.362566,
  27: -79.0193,
  28: -101.002012,
  29: -99.901813,
  30: -71.572395,
  31: -74.405661,
  32: -105.032363,
  33: -116.419389,
  34: -74.217933,
  35: -82.907123,
  36: -97.092877,
  37: -120.554201,
  38: -77.194525,
  39: -66.590149,
  40: -71.477429,
  41: -81.163725,
  42: -99.901813,
  43: -86.580447,
  44: -99.901813,
  45: -111.093731,
  46: -78.656894,
  47: -72.577841,
  48: -120.740139,
  49: -88.787868,
  50: -80.454903,
  51: -107.290284},
 'name': {0: 'Alaska',
  1: 'Alabama',
  2: 'Arkansas',
  3: 'Arizona',
  4: 'California',
  5: 'Colorado',
  6: 'Connecticut',
  7: 'District of Columbia',
  8: 'Delaware',
  9: 'Florida',
  10: 'Georgia',
  11: 'Hawaii',
  12: 'Iowa',
  13: 'Idaho',
  14: 'Illinois',
  15: 'Indiana',
  16: 'Kansas',
  17: 'Kentucky',
  18: 'Louisiana',
  19: 'Massachusetts',
  20: 'Maryland',
  21: 'Maine',
  22: 'Michigan',
  23: 'Minnesota',
  24: 'Missouri',
  25: 'Mississippi',
  26: 'Montana',
  27: 'North Carolina',
  28: 'North Dakota',
  29: 'Nebraska',
  30: 'New Hampshire',
  31: 'New Jersey',
  32: 'New Mexico',
  33: 'Nevada',
  34: 'New York',
  35: 'Ohio',
  36: 'Oklahoma',
  37: 'Oregon',
  38: 'Pennsylvania',
  39: 'Puerto Rico',
  40: 'Rhode Island',
  41: 'South Carolina',
  42: 'South Dakota',
  43: 'Tennessee',
  44: 'Texas',
  45: 'Utah',
  46: 'Virginia',
  47: 'Vermont',
  48: 'Washington',
  49: 'Wisconsin',
  50: 'West Virginia',
  51: 'Wyoming'}}

Создаём список штатов

In [36]:
list_states=[]
for val in dict_frame['state'].values():
    list_states.append(val.lower())
list_states

['ak',
 'al',
 'ar',
 'az',
 'ca',
 'co',
 'ct',
 'dc',
 'de',
 'fl',
 'ga',
 'hi',
 'ia',
 'id',
 'il',
 'in',
 'ks',
 'ky',
 'la',
 'ma',
 'md',
 'me',
 'mi',
 'mn',
 'mo',
 'ms',
 'mt',
 'nc',
 'nd',
 'ne',
 'nh',
 'nj',
 'nm',
 'nv',
 'ny',
 'oh',
 'ok',
 'or',
 'pa',
 'pr',
 'ri',
 'sc',
 'sd',
 'tn',
 'tx',
 'ut',
 'va',
 'vt',
 'wa',
 'wi',
 'wv',
 'wy']

Создаём список долготы

In [37]:
list_longs=[]
for val in dict_frame['longitude'].values():
    list_longs.append(val)
list_longs

[-154.493062,
 -86.902298,
 -91.831833,
 -111.093731,
 -119.417932,
 -105.782067,
 -73.087749,
 -77.033418,
 -75.52767,
 -81.515754,
 -82.907123,
 -155.665857,
 -93.097702,
 -114.742041,
 -89.398528,
 -85.602364,
 -98.484246,
 -84.270018,
 -92.145024,
 -71.382437,
 -76.641271,
 -69.445469,
 -85.602364,
 -94.6859,
 -91.831833,
 -89.398528,
 -110.362566,
 -79.0193,
 -101.002012,
 -99.901813,
 -71.572395,
 -74.405661,
 -105.032363,
 -116.419389,
 -74.217933,
 -82.907123,
 -97.092877,
 -120.554201,
 -77.194525,
 -66.590149,
 -71.477429,
 -81.163725,
 -99.901813,
 -86.580447,
 -99.901813,
 -111.093731,
 -78.656894,
 -72.577841,
 -120.740139,
 -88.787868,
 -80.454903,
 -107.290284]

Создаём список широты

In [38]:
list_lats=[]
for val in dict_frame['latitude'].values():
    list_lats.append(val)
list_lats

[63.588753,
 32.318231,
 35.20105,
 34.048928,
 36.778261,
 39.550051,
 41.603221,
 38.905985,
 38.910832,
 27.664827,
 32.157435,
 19.898682,
 41.878003,
 44.068202,
 40.633125,
 40.551217,
 39.011902,
 37.839333,
 31.244823,
 42.407211,
 39.045755,
 45.253783,
 44.314844,
 46.729553,
 37.964253,
 32.354668,
 46.879682,
 35.759573,
 47.551493,
 41.492537,
 43.193852,
 40.058324,
 34.97273,
 38.80261,
 43.299428,
 40.417287,
 35.007752,
 43.804133,
 41.203322,
 18.220833,
 41.580095,
 33.836081,
 43.969515,
 35.517491,
 31.968599,
 39.32098,
 37.431573,
 44.558803,
 47.751074,
 43.78444,
 38.597626,
 43.075968]

Создаем словарь, где ключами являются наименования штатов, а значениями - долгота соответствующего штата

In [39]:
dictionary_long = dict(zip(list_states, list_longs))
print(dictionary_long)

{'ak': -154.493062, 'al': -86.902298, 'ar': -91.831833, 'az': -111.093731, 'ca': -119.417932, 'co': -105.782067, 'ct': -73.087749, 'dc': -77.033418, 'de': -75.52767, 'fl': -81.515754, 'ga': -82.907123, 'hi': -155.665857, 'ia': -93.097702, 'id': -114.742041, 'il': -89.398528, 'in': -85.602364, 'ks': -98.484246, 'ky': -84.270018, 'la': -92.145024, 'ma': -71.382437, 'md': -76.641271, 'me': -69.445469, 'mi': -85.602364, 'mn': -94.6859, 'mo': -91.831833, 'ms': -89.398528, 'mt': -110.362566, 'nc': -79.0193, 'nd': -101.002012, 'ne': -99.901813, 'nh': -71.572395, 'nj': -74.405661, 'nm': -105.032363, 'nv': -116.419389, 'ny': -74.217933, 'oh': -82.907123, 'ok': -97.092877, 'or': -120.554201, 'pa': -77.194525, 'pr': -66.590149, 'ri': -71.477429, 'sc': -81.163725, 'sd': -99.901813, 'tn': -86.580447, 'tx': -99.901813, 'ut': -111.093731, 'va': -78.656894, 'vt': -72.577841, 'wa': -120.740139, 'wi': -88.787868, 'wv': -80.454903, 'wy': -107.290284}

Создаем словарь, где ключами являются наименования штатов, а значениями - широта соответствующего штата

In [40]:
dictionary_lat = dict(zip(list_states, list_lats))
print(dictionary_lat)

{'ak': 63.588753, 'al': 32.318231, 'ar': 35.20105, 'az': 34.048928, 'ca': 36.778261, 'co': 39.550051, 'ct': 41.603221, 'dc': 38.905985, 'de': 38.910832, 'fl': 27.664827, 'ga': 32.157435, 'hi': 19.898682, 'ia': 41.878003, 'id': 44.068202, 'il': 40.633125, 'in': 40.551217, 'ks': 39.011902, 'ky': 37.839333, 'la': 31.244823, 'ma': 42.407211, 'md': 39.045755, 'me': 45.253783, 'mi': 44.314844, 'mn': 46.729553, 'mo': 37.964253, 'ms': 32.354668, 'mt': 46.879682, 'nc': 35.759573, 'nd': 47.551493, 'ne': 41.492537, 'nh': 43.193852, 'nj': 40.058324, 'nm': 34.97273, 'nv': 38.80261, 'ny': 43.299428, 'oh': 40.417287, 'ok': 35.007752, 'or': 43.804133, 'pa': 41.203322, 'pr': 18.220833, 'ri': 41.580095, 'sc': 33.836081, 'sd': 43.969515, 'tn': 35.517491, 'tx': 31.968599, 'ut': 39.32098, 'va': 37.431573, 'vt': 44.558803, 'wa': 47.751074, 'wi': 43.78444, 'wv': 38.597626, 'wy': 43.075968}

Создаём маску замены и, зная название штата, заменим пропущенные значения долготы и широты на значения из states.csv

In [41]:
mask_long = df['long'].astype('str').isin(['NaN','nan'])
df.loc[mask_long, 'long'] = df.loc[mask_long, 'state'].map(dictionary_long)
mask_lat= df['lat'].astype('str').isin(['NaN','nan'])
df.loc[mask_lat, 'lat'] = df.loc[mask_lat, 'state'].map(dictionary_long)
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,other,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium,2021-05-03 22:32:06+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

 Проверяем количество пропущенных значений в широте и долготе выпуска автомобиля для обновлённого датафрейма.

In [42]:
quant_long = df.long.isna().sum()
print(f"Количество пропущенных значений в long:{quant_long}")
quant_lat = df.lat.isna().sum()
print(f"Количество пропущенных значений в lat:{quant_lat}")

Количество пропущенных значений в long:0
Количество пропущенных значений в lat:0

#### Проверка пропусков

Количество пропущенных значений в дате

In [43]:
missing_values_out_clean = ((df.isna().sum() / len(df))*100).sort_values()[::-1]
print('Процент пропущенных значений: ')
missing_values_out_clean

Процент пропущенных значений:

date              0.0
price_category    0.0
url               0.0
region            0.0
region_url        0.0
price             0.0
year              0.0
manufacturer      0.0
model             0.0
fuel              0.0
odometer          0.0
title_status      0.0
transmission      0.0
image_url         0.0
description       0.0
state             0.0
lat               0.0
long              0.0
posting_date      0.0
id                0.0
dtype: float64

### Преобразование данных

 Выведем информацию о датафрейме, чтобы изучить типы данных

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9964 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9964 non-null   int64
 1   url             9964 non-null   object
 2   region          9964 non-null   object
 3   region_url      9964 non-null   object
 4   price           9964 non-null   int64
 5   year            9964 non-null   float64
 6   manufacturer    9964 non-null   object
 7   model           9964 non-null   object
 8   fuel            9964 non-null   object
 9   odometer        9964 non-null   int64
 10  title_status    9964 non-null   object
 11  transmission    9964 non-null   object
 12  image_url       9964 non-null   object
 13  description     9964 non-null   object
 14  state           9964 non-null   object
 15  lat             9964 non-null   float64
 16  long            9964 non-null   float64
 17  posting_date    9964 non-null   object
 18  price_category  9964 non-null   object
 19  date            9964 non-null   object
dtypes: float64(3), int64(3), object(14)
memory usage: 1.6+ MB

#### Преобразование типа данных года автомобиля

Выводим описательные статистики для года выпуска автомобиля

In [45]:
df.year.describe(include = 'all')

count    9964.000000
mean     2010.927941
std         9.672040
min      1915.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

Изменим тип данных для года выпуска на более подходящий целочисленный тип

In [46]:
df.year = df.year.astype(int)
df.year.dtype

dtype('int32')

#### Преобразование данных о виде топлива в категориальные переменные

In [47]:
df.fuel = df.fuel.astype(str)
df.fuel.dtype

dtype('O')

In [48]:
series_fuel = pd.Series(df.fuel, dtype="category")
series_fuel

0       diesel
1        other
2          gas
3          gas
4          gas
         ...
9995       gas
9996       gas
9997       gas
9998    hybrid
9999       gas
Name: fuel, Length: 9964, dtype: category
Categories (5, object): ['diesel', 'electric', 'gas', 'hybrid', 'other']

#### Преобразование данных о коробке передач в категориальные переменные

In [49]:
df.transmission = df.transmission.astype(str)
df.transmission.dtype

dtype('O')

In [50]:
series_state = pd.Series(df.transmission, dtype="category")
series_state

0           other
1       automatic
2           other
3       automatic
4       automatic
          ...
9995    automatic
9996        other
9997    automatic
9998    automatic
9999        other
Name: transmission, Length: 9964, dtype: category
Categories (3, object): ['automatic', 'manual', 'other']

#### Преобразование данных о регионе в категориальные переменные

In [51]:
df.region = df.region.astype(str)
df.region.dtype

dtype('O')

In [52]:
series_state = pd.Series(df.region, dtype="category")
series_state

0                   chattanooga
1                  north jersey
2                  reno / tahoe
3                  fayetteville
4                 new york city
                 ...
9995                 chautauqua
9996                 binghamton
9997                      salem
9998                    madison
9999    norfolk / hampton roads
Name: region, Length: 9964, dtype: category
Categories (393, object): ['SF bay area', 'abilene', 'akron / canton', 'albany', ..., 'youngstown', 'yuba-sutter', 'yuma', 'zanesville / cambridge']

#### Преобразование данных о производителе в категориальные переменные

In [53]:
df.manufacturer = df.manufacturer.astype(str)
df.manufacturer.dtype

dtype('O')

In [54]:
series_state = pd.Series(df.manufacturer, dtype="category")
series_state

0              ram
1             ford
2       volkswagen
3           toyota
4           nissan
           ...
9995        toyota
9996          jeep
9997          audi
9998       porsche
9999           ram
Name: manufacturer, Length: 9964, dtype: category
Categories (40, object): ['acura', 'alfa-romeo', 'audi', 'bmw', ..., 'tesla', 'toyota', 'volkswagen', 'volvo']

#### Преобразование данных о штате в категориальные переменные

In [55]:
df.state = df.state.astype(str)
df.state.dtype

dtype('O')

In [56]:
series_state = pd.Series(df.state, dtype="category")
series_state

0       tn
1       nj
2       ca
3       nc
4       ny
        ..
9995    ny
9996    ny
9997    or
9998    wi
9999    va
Name: state, Length: 9964, dtype: category
Categories (51, object): ['ak', 'al', 'ar', 'az', ..., 'wa', 'wi', 'wv', 'wy']

#### Преобразование данных о статусе в категориальные переменные

In [57]:
df.title_status = df.title_status.astype(str)
df.title_status.dtype

dtype('O')

In [58]:
series_state = pd.Series(df.title_status, dtype="category")
series_state

0       clean
1       clean
2       clean
3       clean
4       clean
        ...
9995    clean
9996    clean
9997    clean
9998    clean
9999    clean
Name: title_status, Length: 9964, dtype: category
Categories (7, object): ['<bound method Series.mode of 0       clean\n1..., 'clean', 'lien', 'missing', 'parts only', 'rebuilt', 'salvage']

### Выбросы в данных

#### Выбросы в годе выпуска

Описательные статистики для года выпуска автомобиля.

In [59]:
df.year.describe(include = 'all')

count    9964.000000
mean     2010.927941
std         9.672040
min      1915.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

Посмотрим границы для нормальных значений года выпуска, используя интерквартильный размах.

In [60]:
def calculate_outliers(data):
    q25 = data.quantile(0.25)
    q75 = data.quantile(0.75)
    iqr = q75 - q25
    boundaries = (q25 - 1.5 * iqr, q75 + 1.5 * iqr)

    return boundaries
boundaries = calculate_outliers(df.year)
boundaries

(1994.5, 2030.5)

Посчитаем количество выбросов в годе выпуска автомобиля.

In [61]:
is_outlier = (df.year < boundaries[0]) | (df.year > boundaries[1])
is_outlier.sum()

394

Посчитаем долю выбросов в годе выпуска автомобиля.

In [62]:
is_outlier.sum() / len(df)

0.039542352468887994

5. Выведите записи, в которых год выпуска попадает в выбросы. Посмотрите на данные и подумайте, могут ли эти выбросы описывать особые значения категории цены или других признаков или действительно являются выбросами.

In [63]:
df[is_outlier]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
13,7317089086,https://seattle.craigslist.org/see/ctd/d/portl...,seattle-tacoma,https://seattle.craigslist.org,14995,1994,ford,e-series van universal by glaval designer luxu...,gas,156925,clean,automatic,https://images.craigslist.org/00r0r_13JUlXZOMl...,"Priced to Sell: $14,9951994 Ford E-Series Van ...",wa,45.391373,-122.613533,2021-05-04T20:22:11-0700,medium,2021-05-05 03:22:11+00:00
21,7312327909,https://madison.craigslist.org/cto/d/madison-1...,madison,https://madison.craigslist.org,89995,1970,other,oldsmobile 442,gas,111111,clean,automatic,https://images.craigslist.org/00S0S_agk7Nol4CO...,1970 Oldsmobile 442 Convertible 442 Indy Pace ...,wi,43.098400,-89.273400,2021-04-25T10:10:43-0500,high,2021-04-25 15:10:43+00:00
57,7314413105,https://inlandempire.craigslist.org/ctd/d/cost...,inland empire,https://inlandempire.craigslist.org,69888,1948,ford,coe,gas,1,clean,automatic,https://images.craigslist.org/00M0M_8jgBCZZuG6...,Awesome Resto-Mod COE Ford Car Hauler. Equippe...,ca,33.680100,-117.908500,2021-04-29T10:49:29-0700,high,2021-04-29 17:49:29+00:00
66,7310077530,https://hudsonvalley.craigslist.org/cto/d/bloo...,hudson valley,https://hudsonvalley.craigslist.org,5500,1990,other,Diahatsu,gas,30000,clean,manual,https://images.craigslist.org/00T0T_a4VRbx40ea...,1991 Daihatsu hijet 5 speed extended cab....im...,ny,41.564400,-74.430400,2021-04-20T18:30:18-0400,low,2021-04-20 22:30:18+00:00
106,7314527175,https://rapidcity.craigslist.org/ctd/d/sherman...,rapid city / west SD,https://rapidcity.craigslist.org,43500,1968,chevrolet,camaro,gas,43320,clean,manual,https://images.craigslist.org/00h0h_2N66LMJBAI...,1968 Chevrolet Camaro Convertible. VIN:124678N...,sd,33.637200,-96.618400,2021-04-29T15:11:01-0600,high,2021-04-29 21:11:01+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,7313487583,https://springfield.craigslist.org/cto/d/mount...,springfield,https://springfield.craigslist.org,3500,1974,jeep,cj5,gas,10000,clean,manual,https://images.craigslist.org/00G0G_cdxzaTaVqa...,1974 Jeep cj5 304 v8 4speed manual trans Da...,mo,36.331200,-92.375300,2021-04-27T14:30:28-0500,low,2021-04-27 19:30:28+00:00
9921,7311566144,https://chico.craigslist.org/cto/d/chico-1994-...,chico,https://chico.craigslist.org,16000,1994,ford,f250,gas,32500,clean,automatic,https://images.craigslist.org/01010_343KkgTaHo...,"Up for sale is this 32,000 original mile Ford ...",ca,39.745800,-121.844400,2021-04-23T13:51:20-0700,medium,2021-04-23 20:51:20+00:00
9944,7313676859,https://reno.craigslist.org/ctd/d/sherman-1984...,reno / tahoe,https://reno.craigslist.org,26500,1984,chevrolet,silverado,gas,38751,clean,automatic,https://images.craigslist.org/00r0r_czXfi4UeJF...,"1984 Chevrolet C10 Silverado, short wheelbase ...",ca,33.637200,-96.618400,2021-04-27T19:44:27-0700,high,2021-04-28 02:44:27+00:00
9972,7316458200,https://portland.craigslist.org/mlt/cto/d/port...,portland,https://portland.craigslist.org,18500,1972,chevrolet,other,gas,75000,clean,automatic,https://images.craigslist.org/00x0x_7FqS8iHJst...,1972 classic Chevrolet pick up custom deluxe ...,or,45.494960,-122.666988,2021-05-03T14:58:34-0700,medium,2021-05-03 21:58:34+00:00
9990,7316175335,https://orangecounty.craigslist.org/cto/d/hunt...,orange county,https://orangecounty.craigslist.org,1575,1988,other,1988 Nisan,gas,120000,clean,manual,https://images.craigslist.org/00B0B_5t6BpiGoz9...,Really good running 88 Nissan. Has Sun roof. B...,ca,33.654019,-117.980606,2021-05-03T07:19:18-0700,low,2021-05-03 14:19:18+00:00

Количество значений для категории цены для записей, в которых год выпуска автомобиля является выбросом.

In [64]:
df[is_outlier].price_category.value_counts(dropna = False)

low       181
medium    135
high       78
Name: price_category, dtype: int64

Так как выбросы в годе выпуска находятся среди минимальных значений, заполним те значения, которые являются выбросами, значением нижней границы.

In [65]:
df.loc[is_outlier, 'year'] = int(boundaries[0])

Выведем ещё раз описательные статистики для года выпуска автомобиля, чтобы проверить, что теперь все значения года входят в границы нормальных значений.

In [66]:
df.year.describe(include = 'all')

count    9964.000000
mean     2011.669410
std         6.516981
min      1994.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

# Feature Engineering

## Построение признаков из строк

Выведем список значений и количество уникальных значений для модели автомобиля.

In [67]:
df["model"].unique()

array(['2500 crew cab big horn', 'explorer 4wd 4dr xlt',
       'golf r hatchback', ..., 'navigator reserve', '1988 Nisan',
       'a3 2.0t premium plus pzev'], dtype=object)

In [68]:
df["model"].nunique()

3447

Количество уникальных значений велико. Попробуем их сократить, оставив только первое слово в наименовании модели.

In [69]:
df['short_model'] = df.model.apply(lambda x: x.split(' ')[0])
df['short_model']

0           2500
1       explorer
2           golf
3           rav4
4         altima
          ...
9995        rav4
9996    wrangler
9997          a3
9998     cayenne
9999        1500
Name: short_model, Length: 9964, dtype: object

In [70]:
df['short_model'].nunique()

973

Преобразуем данные 'short_model' в категориальные переменные

In [71]:
df.short_model = df.short_model.astype(str)
df.short_model.dtype

dtype('O')

In [72]:
series_state = pd.Series(df.short_model, dtype="category")
series_state

0           2500
1       explorer
2           golf
3           rav4
4         altima
          ...
9995        rav4
9996    wrangler
9997          a3
9998     cayenne
9999        1500
Name: short_model, Length: 9964, dtype: category
Categories (973, object): ['-benz', '1', '124', '128i', ..., 'z4', 'zephyr', 'zx2', '♿']

## Преобразование категориальных переменных

 Для категориальных переменных `short_model`, `transmission`, `region`, `fuel`,`manufacturer`, `state`, `title_status` распечатаем наименование категории и количество уникальных значений в ней.

In [73]:
for cat_var in ["short_model", "transmission", "region", 'manufacturer', 'state', 'title_status', 'fuel']:
    print ('Количество уникальных значений в категории "',cat_var,'": ', df[cat_var].nunique())
    print ('---------------------------------------------------')

Количество уникальных значений в категории " short_model ":  973
---------------------------------------------------
Количество уникальных значений в категории " transmission ":  3
---------------------------------------------------
Количество уникальных значений в категории " region ":  393
---------------------------------------------------
Количество уникальных значений в категории " manufacturer ":  40
---------------------------------------------------
Количество уникальных значений в категории " state ":  51
---------------------------------------------------
Количество уникальных значений в категории " title_status ":  7
---------------------------------------------------
Количество уникальных значений в категории " fuel ":  5
---------------------------------------------------

Создадим датафрейм `data`, содержащий только выбранные категориальные переменные.

In [74]:
data = df[["short_model", "transmission", "region", 'manufacturer', 'state', 'title_status', 'fuel']]
data

,short_model,transmission,region,manufacturer,state,title_status,fuel
0,2500,other,chattanooga,ram,tn,clean,diesel
1,explorer,automatic,north jersey,ford,nj,clean,other
2,golf,other,reno / tahoe,volkswagen,ca,clean,gas
3,rav4,automatic,fayetteville,toyota,nc,clean,gas
4,altima,automatic,new york city,nissan,ny,clean,gas
...,...,...,...,...,...,...,...
9995,rav4,automatic,chautauqua,toyota,ny,clean,gas
9996,wrangler,other,binghamton,jeep,ny,clean,gas
9997,a3,automatic,salem,audi,or,clean,gas
9998,cayenne,automatic,madison,porsche,wi,clean,hybrid
9999,1500,other,norfolk / hampton roads,ram,va,clean,gas

Создадим объект класса OneHotEncoder, который будет отвечать за преобразование.

In [75]:
ohe = OneHotEncoder(sparse = False)
ohe

OneHotEncoder(sparse=False)

Идентифицируем параметры преобразования на датафрейме с категориальными переменными.

In [76]:
ohe.fit(data)

OneHotEncoder(sparse=False)

In [77]:
ohe_data = ohe.transform(data)
ohe_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

Применим преобразование для датафрейма с категориальными переменными и сохраним в новую переменную, распечатаем получившуюся матрицу и её размерность.

In [78]:
ohe_data = ohe.transform(data)
ohe_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [79]:
ohe_data.shape

(9964, 1472)

Выведем новые наименования признаков с помощью метода `get_feature_names_out`.

In [80]:
ohe.get_feature_names_out()

array(['short_model_-benz', 'short_model_1', 'short_model_124', ...,
       'fuel_gas', 'fuel_hybrid', 'fuel_other'], dtype=object)

Добавим в исходный датафрейм получившиеся новые признаки, выведем первые пять записей датафрейма и список колонок.

In [81]:
df[ohe.get_feature_names_out()] = ohe_data

C:\Anaconda\lib\site-packages\pandas\core\frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

In [82]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021,nissan,altima,gas,8000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [83]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'fuel', 'odometer',
       ...
       'title_status_lien', 'title_status_missing', 'title_status_parts only',
       'title_status_rebuilt', 'title_status_salvage', 'fuel_diesel',
       'fuel_electric', 'fuel_gas', 'fuel_hybrid', 'fuel_other'],
      dtype='object', length=1493)

Посмотрим на результат обратного преобразования получившейся матрицы в исходные признаки, используем `inverse_transform`.

In [84]:
ohe.inverse_transform(ohe_data)

array([['2500', 'other', 'chattanooga', ..., 'tn', 'clean', 'diesel'],
       ['explorer', 'automatic', 'north jersey', ..., 'nj', 'clean',
        'other'],
       ['golf', 'other', 'reno / tahoe', ..., 'ca', 'clean', 'gas'],
       ...,
       ['a3', 'automatic', 'salem', ..., 'or', 'clean', 'gas'],
       ['cayenne', 'automatic', 'madison', ..., 'wi', 'clean', 'hybrid'],
       ['1500', 'other', 'norfolk / hampton roads', ..., 'va', 'clean',
        'gas']], dtype=object)

## Стандартизация данных

Создадим переменную под количественные переменные `lat`, `long`, `year`, `odometer/price`, `desc_len`, `model_in_desc`, `model_len`, `model_word_count` и создайте датафрейм `data`, содержащий только выбранные количественные переменные.

In [85]:
quan_var = ["lat", "long", "year", 'odometer', 'price']
data = df[quan_var]
data

            lat        long  year  odometer  price
0     35.060000  -85.250000  2020     27442  54990
1     40.821805  -74.061962  2016     60023  16942
2     33.779214  -84.411811  2017     14048  35590
3     35.715954  -78.655304  2013    117291  14500
4     40.654800  -73.609700  2021      8000  21800
...         ...         ...   ...       ...    ...
9995  42.123900  -79.189500  2002    150000   4495
9996  43.216990  -77.755610  2008    113573  14495
9997  44.925908 -122.982753  2011    150184   8995
9998  43.029559  -89.397796  2015     61943  31900
9999  36.670000  -76.300000  2017     35921  31990

[9964 rows x 5 columns]

Создадим объект `std_scaler` класса StandardScaler с параметрами по умолчанию, который будет отвечать за стандартизацию.

In [86]:
std_scaler = StandardScaler()
std_scaler

StandardScaler()

Идентифицируем параметры преобразования на датафрейме с количественными переменными.

In [87]:
std_scaler.fit(data)

StandardScaler()

Применим преобразование для датафрейма с количественными переменными и сохраним в новую переменную, распечатаем получившуюся матрицу и её размерность.

In [88]:
std_scaled = std_scaler.transform(data)
std_scaled

array([[-0.18150167,  0.4842838 ,  1.27835384, -1.04790281,  0.27550068],
       [ 0.2571456 ,  1.1022232 ,  0.66454194, -0.5317451 , -0.02930064],
       [-0.27900814,  0.53057878,  0.81799491, -1.26009446,  0.1200879 ],
       ...,
       [ 0.5695917 , -1.59977731, -0.10272294,  0.89661177, -0.0929638 ],
       [ 0.42522231,  0.2551921 ,  0.51108896, -0.5013279 ,  0.09052742],
       [-0.05893207,  0.97861155,  0.81799491, -0.91357602,  0.09124841]])

Создадим наименования новых стандартизированных признаков.

In [89]:
df[["lat_std", "long_std", "year_std", 'odometer_std', 'price_std']] = std_scaled

Добавим в исходный датафрейм получившиеся новые признаки, выведем первые пять записей датафрейма и список колонок.

In [90]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,lat_std,long_std,year_std,odometer_std,price_std
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,1.0,0.0,0.0,0.0,0.0,-0.181502,0.484284,1.278354,-1.047903,0.275501
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0.0,0.0,0.0,0.0,1.0,0.257146,1.102223,0.664542,-0.531745,-0.029301
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0.0,0.0,1.0,0.0,0.0,-0.279008,0.530579,0.817995,-1.260094,0.120088
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0.0,0.0,1.0,0.0,0.0,-0.131564,0.848523,0.204183,0.375511,-0.048863
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021,nissan,altima,gas,8000,...,0.0,0.0,1.0,0.0,0.0,0.244431,1.127203,1.431807,-1.355909,0.009617

In [91]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'fuel', 'odometer',
       ...
       'fuel_diesel', 'fuel_electric', 'fuel_gas', 'fuel_hybrid', 'fuel_other',
       'lat_std', 'long_std', 'year_std', 'odometer_std', 'price_std'],
      dtype='object', length=1498)

## Признаки на основе дат

Выведем по отдельности колонки `posting_date` и `date`.

In [92]:
df['posting_date']

0       2021-04-17T12:30:50-0400
1       2021-05-03T15:40:21-0400
2       2021-04-28T03:52:20-0700
3       2021-04-17T10:08:57-0400
4       2021-05-03T18:32:06-0400
                  ...
9995    2021-04-10T16:33:57-0400
9996    2021-05-03T09:36:30-0400
9997    2021-04-22T12:14:01-0700
9998    2021-04-14T09:14:42-0500
9999    2021-04-24T13:50:49-0400
Name: posting_date, Length: 9964, dtype: object

In [93]:
df['date']

0       2021-04-17 16:30:50+00:00
1       2021-05-03 19:40:21+00:00
2       2021-04-28 10:52:20+00:00
3       2021-04-17 14:08:57+00:00
4       2021-05-03 22:32:06+00:00
                  ...
9995    2021-04-10 20:33:57+00:00
9996    2021-05-03 13:36:30+00:00
9997    2021-04-22 19:14:01+00:00
9998    2021-04-14 14:14:42+00:00
9999    2021-04-24 17:50:49+00:00
Name: date, Length: 9964, dtype: object

Изменим тип `date`c помощью `pd.to_datetime`.

In [94]:
df['date'] = pd.to_datetime(df['date'])
df['date']

0      2021-04-17 16:30:50+00:00
1      2021-05-03 19:40:21+00:00
2      2021-04-28 10:52:20+00:00
3      2021-04-17 14:08:57+00:00
4      2021-05-03 22:32:06+00:00
                  ...
9995   2021-04-10 20:33:57+00:00
9996   2021-05-03 13:36:30+00:00
9997   2021-04-22 19:14:01+00:00
9998   2021-04-14 14:14:42+00:00
9999   2021-04-24 17:50:49+00:00
Name: date, Length: 9964, dtype: datetime64[ns, UTC]

Создадим признак `month`, обозначающий номер месяца размещения объявления о продаже автомобиля, и распечатаем его.

In [95]:
df['month'] = df.date.dt.month
df['month']

0       4
1       5
2       4
3       4
4       5
       ..
9995    4
9996    5
9997    4
9998    4
9999    4
Name: month, Length: 9964, dtype: int64

Создадим признак `dayofweek`, обозначающий день недели размещения объявления о продаже автомобиля, и распечатаем его.

In [96]:
df['dayofweek'] = df.date.dt.dayofweek
df['dayofweek']

0       5
1       0
2       2
3       5
4       0
       ..
9995    5
9996    0
9997    3
9998    2
9999    5
Name: dayofweek, Length: 9964, dtype: int64

Создадим признак `diff_years`, обозначающий количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля, и распечатаем его.

In [97]:
df['diff_years'] = df.apply(lambda x: x.date.year - x.year, axis = 1)
df['diff_years']

0        1
1        5
2        4
3        8
4        0
        ..
9995    19
9996    13
9997    10
9998     6
9999     4
Name: diff_years, Length: 9964, dtype: int64

Применим стандартизацию к новым признаками и сохраним результат в новые признаки вида `month_std`.

In [98]:
std_scaler = StandardScaler()

In [99]:
data = df[['month','dayofweek','diff_years']]
data

      month  dayofweek  diff_years
0         4          5           1
1         5          0           5
2         4          2           4
3         4          5           8
4         5          0           0
...     ...        ...         ...
9995      4          5          19
9996      5          0          13
9997      4          3          10
9998      4          2           6
9999      4          5           4

[9964 rows x 3 columns]

In [100]:
std_scaler.fit(data)

StandardScaler()

In [101]:
std_scaled = std_scaler.transform(data)
std_scaled

array([[-0.61230201,  1.11444276, -1.27835384],
       [ 1.63318097, -1.37441945, -0.66454194],
       [-0.61230201, -0.37887457, -0.81799491],
       ...,
       [-0.61230201,  0.11889787,  0.10272294],
       [-0.61230201, -0.37887457, -0.51108896],
       [-0.61230201,  1.11444276, -0.81799491]])

In [102]:
df[["month_std", "dayofweek_std", "diff_years_std"]] = std_scaled
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,long_std,year_std,odometer_std,price_std,month,dayofweek,diff_years,month_std,dayofweek_std,diff_years_std
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0.484284,1.278354,-1.047903,0.275501,4,5,1,-0.612302,1.114443,-1.278354
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,1.102223,0.664542,-0.531745,-0.029301,5,0,5,1.633181,-1.374419,-0.664542
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0.530579,0.817995,-1.260094,0.120088,4,2,4,-0.612302,-0.378875,-0.817995
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0.848523,0.204183,0.375511,-0.048863,4,5,8,-0.612302,1.114443,-0.204183
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021,nissan,altima,gas,8000,...,1.127203,1.431807,-1.355909,0.009617,5,0,0,1.633181,-1.374419,-1.431807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002,toyota,rav4,gas,150000,...,0.819018,-1.483800,0.893697,-0.129013,4,5,19,-0.612302,1.114443,1.483800
9996,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008,jeep,wrangler,gas,113573,...,0.898215,-0.563082,0.316610,-0.048903,5,0,13,1.633181,-1.374419,0.563082
9997,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011,audi,a3 2.0t premium plus pzev,gas,150184,...,-1.599777,-0.102723,0.896612,-0.092964,4,3,10,-0.612302,0.118898,0.102723
9998,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015,porsche,cayenne,hybrid,61943,...,0.255192,0.511089,-0.501328,0.090527,4,2,6,-0.612302,-0.378875,-0.511089
9999,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017,ram,1500 crew cab big horn,gas,35921,...,0.978612,0.817995,-0.913576,0.091248,4,5,4,-0.612302,1.114443,-0.817995

## Сохранение датафрейма для этапа моделирования

Удалим колонки, которые были исходными для формирования признаков, а также новые признаки, которые были добавлены с целью обучения.  Сохраните новый датафрейм в переменную `df_prepared`.

In [103]:
columns_for_drop = ['year', 'url', 'region', 'region_url', 'manufacturer',
                    'model', 'fuel', 'odometer', 'title_status', 'transmission',
                    'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
                    'short_model', 'date', 'month', 'dayofweek', 'diff_years']
df_prepared = df.drop(columns = columns_for_drop,axis = 1)

2. Распечатайте оставшийся список колонок и размерность финального датафрейма.

In [104]:
df_prepared.columns.values.tolist()

['id',
 'price',
 'price_category',
 'short_model_-benz',
 'short_model_1',
 'short_model_124',
 'short_model_128i',
 'short_model_135i',
 'short_model_1500',
 'short_model_163869',
 'short_model_1928',
 'short_model_1951',
 'short_model_1954',
 'short_model_1960s',
 'short_model_1966',
 'short_model_1968',
 'short_model_1972',
 'short_model_1977',
 'short_model_1978',
 'short_model_198.5',
 'short_model_1988',
 'short_model_1994',
 'short_model_1999',
 'short_model_2',
 'short_model_200',
 'short_model_2000',
 'short_model_2002',
 'short_model_2006',
 'short_model_2007',
 'short_model_2008',
 'short_model_2009',
 'short_model_2012',
 'short_model_2015',
 'short_model_2016',
 'short_model_2017',
 'short_model_2018',
 'short_model_2021',
 'short_model_210',
 'short_model_240',
 'short_model_2500',
 'short_model_2500hd',
 'short_model_280zx',
 'short_model_3',
 'short_model_3-series',
 'short_model_3-window',
 'short_model_3.2',
 'short_model_300',
 'short_model_300-series',
 'short_model_300c',
 'short_model_300s',
 'short_model_300zx',
 'short_model_3100',
 'short_model_318i',
 'short_model_320i',
 'short_model_323i',
 'short_model_325ci',
 'short_model_325i',
 'short_model_325is',
 'short_model_325xi',
 'short_model_328',
 'short_model_328ci',
 'short_model_328d',
 'short_model_328i',
 'short_model_328xi',
 'short_model_330i',
 'short_model_330xi',
 'short_model_335i',
 'short_model_335xi',
 'short_model_350',
 'short_model_3500',
 'short_model_3500hd',
 'short_model_350z',
 'short_model_370z',
 'short_model_380sl',
 'short_model_3i',
 'short_model_4',
 'short_model_4-runner',
 'short_model_428',
 'short_model_430i',
 'short_model_435i',
 'short_model_440xi',
 'short_model_4500',
 'short_model_488',
 'short_model_4runner',
 'short_model_4x4',
 'short_model_5',
 'short_model_5-series',
 'short_model_50',
 'short_model_500',
 'short_model_500c',
 'short_model_500l',
 'short_model_500x',
 'short_model_525i',
 'short_model_528i',
 'short_model_528xi',
 'short_model_530',
 'short_model_530i',
 'short_model_535i',
 'short_model_535xi',
 'short_model_540i',
 'short_model_545i',
 'short_model_5500',
 'short_model_5500hd',
 'short_model_550i',
 'short_model_5th',
 'short_model_6',
 'short_model_640',
 'short_model_645ci',
 'short_model_650i',
 'short_model_650xi',
 'short_model_7',
 'short_model_750',
 'short_model_750i',
 'short_model_750xi',
 'short_model_86',
 'short_model_911',
 'short_model_914',
 'short_model_928',
 'short_model_944',
 'short_model_ACURA*',
 'short_model_ALL',
 'short_model_AM',
 'short_model_AMC',
 'short_model_ASC',
 'short_model_Acuarea',
 'short_model_American',
 'short_model_Any',
 'short_model_BENTLEY',
 'short_model_BUY',
 'short_model_Bentley',
 'short_model_Blue',
 'short_model_Buicks',
 'short_model_By',
 'short_model_C',
 'short_model_CATERPILLAR',
 'short_model_CHEVORLET',
 'short_model_CLICK',
 'short_model_COLEMAN',
 'short_model_Cemetery',
 'short_model_Champion',
 'short_model_Chevey',
 'short_model_Chevorlet',
 'short_model_Comanche',
 'short_model_Comet',
 'short_model_D7FH173552',
 'short_model_DODGE1500',
 'short_model_Diahatsu',
 'short_model_E46',
 'short_model_EASY',
 'short_model_Eagle',
 'short_model_Emergency',
 'short_model_F-250',
 'short_model_F250',
 'short_model_FORD*',
 'short_model_FORD/RANGER',
 'short_model_FREIGHTLINER',
 'short_model_FRRV',
 'short_model_Flexible',
 'short_model_FordE350',
 'short_model_Freightliner',
 'short_model_Frtlner',
 'short_model_GCM',
 'short_model_GEHL',
 'short_model_GMC,',
 'short_model_GMX',
 'short_model_GRAND',
 'short_model_GULF',
 'short_model_Genesis',
 'short_model_Gx',
 'short_model_HINO',
 'short_model_HUMMER',
 'short_model_Hino',
 'short_model_Hobda',
 'short_model_Hot',
 'short_model_Hummer',
 'short_model_IC',
 'short_model_INTERNATIONAL',
 'short_model_International',
 'short_model_Isizu',
 'short_model_Isuzu',
 'short_model_JM1BK32F871604924',
 'short_model_Janesville',
 'short_model_Jauguar',
 'short_model_Jayco',
 'short_model_John',
 'short_model_Kaiser',
 'short_model_Lamborghini',
 'short_model_Lotus',
 'short_model_MASERATI',
 'short_model_MERCUTY',
 'short_model_MERDECES',
 'short_model_MGB',
 'short_model_MITUSBISHI',
 'short_model_MV-1',
 'short_model_Mack',
 'short_model_Maserati',
 'short_model_Mclaren',
 'short_model_Minin',
 'short_model_Nascar',
 'short_model_OLDSMOBILE',
 'short_model_PLYMOUTH',
 'short_model_PROGRAMS',
 'short_model_Peterbilt',
 'short_model_Pierce',
 'short_model_Plymouth',
 'short_model_QX',
 'short_model_ROLLS',
 'short_model_S60',
 'short_model_SCION',
 'short_model_SL',
 'short_model_SPECIAL',
 'short_model_Saab',
 'short_model_Scion',
 'short_model_Sea',
 'short_model_Sterling',
 'short_model_Studebaker',
 'short_model_Suzuki',
 'short_model_THOMAS',
 'short_model_Thomas',
 'short_model_Town',
 'short_model_Triumph',
 'short_model_VAN',
 'short_model_Voltswagon',
 'short_model_WOLF',
 'short_model_Xx',
 'short_model_a-class',
 'short_model_a3',
 'short_model_a3,',
 'short_model_a4',
 'short_model_a5',
 'short_model_a6',
 'short_model_a7',
 'short_model_a8',
 'short_model_acadia',
 'short_model_accent',
 'short_model_accord',
 'short_model_all',
 'short_model_allante',
 'short_model_allroad',
 'short_model_altima',
 'short_model_am',
 'short_model_amc',
 'short_model_arcadia',
 'short_model_armada',
 'short_model_arteon',
 'short_model_ascent',
 'short_model_aspen',
 'short_model_astra',
 'short_model_astro',
 'short_model_atlas',
 'short_model_ats',
 'short_model_aura',
 'short_model_autobiography',
 'short_model_avalanche',
 'short_model_avalon',
 'short_model_avanger',
 'short_model_avenger',
 'short_model_aveo',
 'short_model_aviator',
 'short_model_azera',
 'short_model_aztek',
 'short_model_b-class',
 'short_model_b-series',
 'short_model_b2200',
 'short_model_b2300',
 'short_model_b2600i',
 'short_model_baja',
 'short_model_beetle',
 'short_model_bel',
 'short_model_belair',
 'short_model_benz',
 'short_model_blackwood',
 'short_model_blazer',
 'short_model_blue',
 'short_model_bolt',
 'short_model_bonanza',
 'short_model_bonneville',
 'short_model_boxster',
 'short_model_bronco',
 'short_model_brz',
 'short_model_bug',
 'short_model_bus',
 'short_model_c',
 'short_model_c-10',
 'short_model_c-7500',
 'short_model_c-class',
 'short_model_c-hr',
 'short_model_c-max',
 'short_model_c/k',
 'short_model_c10',
 'short_model_c250',
 'short_model_c280',
 'short_model_c30',
 'short_model_c300',
 'short_model_c4500',
 'short_model_c5500',
 'short_model_c60',
 'short_model_c6500',
 'short_model_c70',
 'short_model_c8500',
 'short_model_cabellero',
 'short_model_cabrio',
 'short_model_caddilac',
 'short_model_cadenza',
 'short_model_cadvwrambuick',
 'short_model_caliber',
 'short_model_camaro',
 'short_model_camary',
 'short_model_camero',
 'short_model_camry',
 'short_model_canyon',
 'short_model_capri',
 'short_model_caprice',
 'short_model_captiva',
 'short_model_caravan',
 'short_model_caravan/grand',
 'short_model_cargo',
 'short_model_cascada',
 'short_model_cavalier',
 'short_model_cayenne',
 'short_model_cayman',
 'short_model_cc',
 'short_model_cc300',
 'short_model_cc4500',
 'short_model_century',
 'short_model_certified',
 'short_model_challenger',
 'short_model_charger',
 'short_model_cherokee',
 'short_model_chevelle',
 'short_model_chevorlet',
 'short_model_chryler',
 'short_model_chysler',
 'short_model_city',
 'short_model_civic',
 'short_model_cj-5',
 'short_model_cj2a',
 'short_model_cj5',
 'short_model_cj7',
 'short_model_cj8',
 'short_model_cl-class',
 'short_model_cla',
 'short_model_cla-class',
 'short_model_clarity',
 'short_model_classic',
 'short_model_classuc',
 'short_model_clk',
 'short_model_clk-class',
 'short_model_clk350',
 'short_model_cls',
 'short_model_cls-class',
 'short_model_cls550',
 'short_model_clubman',
 'short_model_cmax',
 'short_model_cobalt',
 'short_model_coe',
 'short_model_colbalt',
 'short_model_colorado',
 'short_model_comet',
 'short_model_commander',
 'short_model_compass',
 'short_model_concorde',
 'short_model_conquest',
 'short_model_continental',
 'short_model_convertible',
 'short_model_cooper',
 'short_model_corolla',
 'short_model_corsair',
 'short_model_corvette',
 'short_model_cougar',
 'short_model_country',
 'short_model_countryman',
 'short_model_coupe',
 'short_model_cr-v',
 'short_model_crew',
 'short_model_crossfire',
 'short_model_crosstour',
 'short_model_crosstrek',
 'short_model_crown',
 'short_model_cruze',
 'short_model_crv',
 'short_model_crz',
 'short_model_ct',
 'short_model_ct4',
 'short_model_ct5',
 'short_model_ct6',
 'short_model_cts',
 'short_model_cts-v',
 'short_model_cts4',
 'short_model_cube',
 'short_model_cummins',
 'short_model_cvr',
 'short_model_cx-3',
 'short_model_cx-5',
 'short_model_cx-7',
 'short_model_cx-9',
 'short_model_cx7',
 'short_model_cx9',
 'short_model_d50',
 'short_model_dakota',
 'short_model_dart',
 'short_model_davidson',
 'short_model_dealer*',
 'short_model_defender',
 'short_model_deisel',
 'short_model_deluxe',
 'short_model_denali',
 'short_model_deville',
 'short_model_diesel',
 'short_model_discovery',
 'short_model_dts',
 'short_model_dump',
 'short_model_duramax',
 'short_model_durango',
 'short_model_durangon',
 'short_model_e',
 'short_model_e-150',
 'short_model_e-250',
 'short_model_e-350',
 'short_model_e-450',
 'short_model_e-class',
 'short_model_e-golf',
 'short_model_e-pace',
 'short_model_e-series',
 'short_model_e150',
 'short_model_e250',
 'short_model_e320',
 'short_model_e350',
 'short_model_e450',
 'short_model_e46',
 'short_model_e500',
 'short_model_echo',
 'short_model_eclipse',
 'short_model_econoline',
 'short_model_ecosport',
 'short_model_edge',
 'short_model_el',
 'short_model_elantra',
 'short_model_elcamino',
 'short_model_eldorado',
 'short_model_element',
 'short_model_enclave',
 'short_model_encore',
 'short_model_endeavor',
 'short_model_envision',
 'short_model_envoy',
 'short_model_eos',
 'short_model_eqinox',
 'short_model_equinox',
 'short_model_es',
 'short_model_es300',
 'short_model_es330',
 'short_model_es350',
 'short_model_escalade',
 'short_model_escape',
 'short_model_escape-se,',
 'short_model_escort',
 'short_model_eurovan',
 'short_model_evoque',
 'short_model_excursion',
 'short_model_expedition',
 'short_model_explorer',
 'short_model_express',
 'short_model_f',
 'short_model_f-100',
 'short_model_f-150',
 'short_model_f-250',
 'short_model_f-250sd',
 'short_model_f-350',
 'short_model_f-350sd',
 'short_model_f-450',
 'short_model_f-450sd',
 'short_model_f-550',
 'short_model_f-550sd',
 'short_model_f-650',
 'short_model_f-750',
 'short_model_f-pace',
 'short_model_f-type',
 'short_model_f1',
 'short_model_f100',
 'short_model_f150',
 'short_model_f250',
 'short_model_f350',
 'short_model_f430',
 'short_model_f450',
 'short_model_f450sd',
 'short_model_f50',
 'short_model_f550',
 'short_model_f600',
 'short_model_f650',
 'short_model_f700',
 'short_model_f750',
 'short_model_falcon',
 'short_model_fe',
 'short_model_fiero',
 'short_model_fiesta',
 'short_model_firebird',
 'short_model_fit',
 'short_model_five',
 'short_model_fj',
 'short_model_fj40',
 'short_model_fleetmaster',
 'short_model_fleetwood',
 'short_model_flex',
 'short_model_focus',
 'short_model_fords',
 'short_model_forester',
 'short_model_forte',
 'short_model_forte5',
 'short_model_foxbody',
 'short_model_freestar',
 'short_model_freestyle',
 'short_model_freightliner',
 'short_model_frontier',
 'short_model_fusion',
 'short_model_fuso',
 'short_model_fx35',
 'short_model_fx45',
 'short_model_g',
 'short_model_g-class',
 'short_model_g.',
 'short_model_g20',
 'short_model_g30',
 'short_model_g35',
 'short_model_g35x',
 'short_model_g37',
 'short_model_g37s',
 'short_model_g37x',
 'short_model_g4500',
 'short_model_g5',
 'short_model_g6',
 'short_model_g8',
 'short_model_galant',
 'short_model_genesis',
 'short_model_ghia',
 'short_model_gl',
 'short_model_gl-class',
 'short_model_gl450',
 'short_model_gla',
 'short_model_gla-class',
 'short_model_gladiator',
 'short_model_glc',
 'short_model_glc-class',
 'short_model_gle',
 'short_model_gle-class',
 'short_model_glk',
 'short_model_glk-class',
 'short_model_glk350',
 'short_model_gls',
 'short_model_gmc/chev',
 'short_model_gmce',
 'short_model_gmt-400',
 'short_model_golf',
 'short_model_gr',
 'short_model_grand',
 'short_model_grandville',
 'short_model_grumman',
 'short_model_gs',
 'short_model_gs350',
 'short_model_gs430',
 'short_model_gt',
 'short_model_gt-r',
 'short_model_gti',
 'short_model_gto',
 'short_model_gx',
 'short_model_gx460',
 'short_model_gx470',
 'short_model_hardbody',
 'short_model_hardtop',
 'short_model_hearse',
 'short_model_hhr',
 'short_model_hiace',
 'short_model_high',
 'short_model_highlander',
 'short_model_hr-v',
 'short_model_hse',
 'short_model_hummer',
 'short_model_hyndai',
 'short_model_i-miev',
 'short_model_i3',
 'short_model_i30',
 'short_model_i35',
 'short_model_i8',
 'short_model_ilx',
 'short_model_impala',
 'short_model_impreza',
 'short_model_insight',
 'short_model_international',
 'short_model_ion',
 'short_model_ioniq',
 'short_model_is',
 'short_model_is250',
 'short_model_is300',
 'short_model_isf',
 'short_model_isuzu',
 'short_model_jeepster',
 'short_model_jetta',
 'short_model_jimmy',
 'short_model_jouney',
 'short_model_journey',
 'short_model_juke',
 'short_model_jx35',
 'short_model_k10',
 'short_model_k20',
 'short_model_k30',
 'short_model_k5',
 'short_model_k900',
 'short_model_kenworth',
 'short_model_kicks',
 'short_model_kodiak',
 'short_model_l',
 'short_model_l300',
 'short_model_lacrosse',
 'short_model_lancer',
 'short_model_land',
 'short_model_landcruiser',
 'short_model_leaf',
 'short_model_legacy',
 'short_model_legend',
 'short_model_lemans',
 'short_model_lesabre',
 'short_model_liberty',
 'short_model_lifted',
 'short_model_lightning',
 'short_model_limousine',
 'short_model_long',
 'short_model_lr2',
 'short_model_lr3',
 'short_model_lr4',
 'short_model_ls',
 'short_model_ltd',
 'short_model_lucerne',
 'short_model_lx',
 'short_model_lx450',
 'short_model_m',
 'short_model_m-class',
 'short_model_m3',
 'short_model_m35',
 'short_model_m35s',
 'short_model_m4',
 'short_model_m5',
 'short_model_macan',
 'short_model_mack',
 'short_model_magnum',
 'short_model_malibu',
 'short_model_mallinia',
 'short_model_marineer,premier',
 'short_model_mariner',
 'short_model_mark',
 'short_model_maserati',
 'short_model_matrix',
 'short_model_maxima',
 'short_model_maximum',
 'short_model_maybach',
 'short_model_mazda2',
 'short_model_mazda3',
 'short_model_mazda5',
 'short_model_mazda6',
 'short_model_mazda6i',
 'short_model_md-x',
 'short_model_mdx',
 'short_model_mercades',
 'short_model_mercedes-amg',
 'short_model_metris',
 'short_model_mg',
 'short_model_miata',
 'short_model_mighty',
 'short_model_milan',
 'short_model_mirage',
 'short_model_mkc',
 'short_model_mks',
 'short_model_mkt',
 'short_model_mkx',
 'short_model_mkz',
 'short_model_ml',
 'short_model_ml350',
 'short_model_ml500',
 'short_model_model',
 'short_model_monte',
 'short_model_montero',
 'short_model_mountaineer',
 'short_model_mpv',
 'short_model_mr2',
 'short_model_murano',
 'short_model_mustang',
 'short_model_mx-5',
 'short_model_nautilus',
 'short_model_navigator',
 'short_model_neon',
 'short_model_new',
 'short_model_newport',
 'short_model_niro',
 'short_model_nitro',
 'short_model_nova',
 'short_model_nv',
 'short_model_nv1500',
 'short_model_nv200',
 'short_model_nv2500',
 'short_model_nv2500hd',
 'short_model_nx',
 'short_model_nx300',
 'short_model_oddyssey',
 'short_model_odyssey',
 'short_model_oldsmobile',
 'short_model_optima',
 'short_model_optimia',
 'short_model_other',
 'short_model_outback',
 'short_model_outlander',
 'short_model_outlook',
 'short_model_paceman',
 'short_model_pacifica',
 'short_model_panamera',
 'short_model_panel',
 'short_model_park',
 'short_model_passat',
 'short_model_passport',
 'short_model_pathfinder',
 'short_model_patriot',
 'short_model_phaeton',
 'short_model_pick',
 'short_model_pickup',
 'short_model_pilot',
 'short_model_plymouth',
 'short_model_pontaic',
 'short_model_prelude',
 'short_model_prius',
 'short_model_prizm',
 'short_model_promaster',
 'short_model_protege',
 'short_model_pt',
 'short_model_putback',
 'short_model_q3',
 'short_model_q5',
 'short_model_q50',
 'short_model_q60',
 'short_model_q7',
 'short_model_q70',
 'short_model_q8',
 'short_model_quattro',
 'short_model_quest',
 'short_model_qx50',
 'short_model_qx56',
 'short_model_qx60',
 'short_model_qx70',
 'short_model_qx80',
 'short_model_r-class',
 'short_model_r32',
 'short_model_rabbit',
 'short_model_rainier',
 'short_model_ram1500',
 'short_model_ram2500',
 'short_model_ramcharger',
 'short_model_range',
 'short_model_ranger',
 'short_model_rat',
 'short_model_rav',
 'short_model_rav4',
 'short_model_rc',
 'short_model_rdx',
 'short_model_reatta',
 'short_model_rebel',
 'short_model_regal',
 'short_model_rendezvous',
 'short_model_renegade',
 'short_model_replica',
 'short_model_ridgeline',
 'short_model_rio',
 'short_model_rivera',
 'short_model_riviera',
 'short_model_rl',
 'short_model_rlx',
 'short_model_roadmaster',
 'short_model_roadster',
 'short_model_rogue',
 'short_model_romeo',
 'short_model_rondo',
 'short_model_rouge',
 'short_model_routan',
 'short_model_rs',
 'short_model_rsx',
 'short_model_rx',
 'short_model_rx-8',
 'short_model_rx300',
 'short_model_rx330',
 'short_model_rx350',
 'short_model_rx400h',
 'short_model_rx7',
 'short_model_rx8',
 'short_model_s',
 'short_model_s-10',
 'short_model_s-class',
 'short_model_s/w',
 'short_model_s10',
 'short_model_s2000',
 'short_model_s3',
 'short_model_s320',
 'short_model_s4',
 'short_model_s40',
 'short_model_s430',
 'short_model_s5',
 'short_model_s500',
 'short_model_s6',
 'short_model_s60',
 'short_model_s7',
 'short_model_s70',
 'short_model_s8',
 'short_model_s90',
 'short_model_saab',
 'short_model_sable',
 'short_model_santa',
 'short_model_sante',
 'short_model_savana',
 'short_model_sc',
 'short_model_sc2',
 'short_model_sc300',
 'short_model_school',
 'short_model_scion',
 'short_model_sebring',
 'short_model_sedan',
 'short_model_sedona',
 'short_model_seirra',
 'short_model_sentra',
 'short_model_sequioa',
 'short_model_sequoia',
 'short_model_seville',
 'short_model_shelby',
 'short_model_sienna',
 'short_model_sierra',
 'short_model_sierra1500',
 'short_model_silverado',
 'short_model_sky',
 'short_model_skylark',
 'short_model_sl-class',
 'short_model_sl2',
 'short_model_sl500',
 'short_model_sl55',
 'short_model_sl550',
 'short_model_slc',
 'short_model_sle',
 'short_model_slk',
 'short_model_slk-class',
 'short_model_slt',
 'short_model_smart',
 'short_model_solara',
 'short_model_solstice',
 'short_model_sonata',
 'short_model_sonic',
 'short_model_sonoma',
 'short_model_sorento',
 'short_model_sorrento',
 'short_model_soul',
 'short_model_soul+',
 'short_model_spark',
 'short_model_spectra',
 'short_model_sport',
 'short_model_sportage',
 'short_model_sprinter',
 'short_model_srx',
 'short_model_srx-v6',
 'short_model_srx4',
 'short_model_srx~awesome',
 'short_model_ss',
 'short_model_ssr',
 'short_model_starcraft',
 'short_model_step-van',
 'short_model_stinger',
 'short_model_stratus',
 'short_model_sts',
 'short_model_studebaker',
 'short_model_suburban',
 'short_model_super',
 'short_model_supra',
 'short_model_suv',
 'short_model_suzuki',
 'short_model_svx',
 'short_model_t',
 'short_model_t-350',
 'short_model_t-bucket',
 'short_model_tacoma',
 'short_model_tahoe',
 'short_model_tarsus',
 'short_model_taurus',
 'short_model_tc5500',
 'short_model_telluride',
 'short_model_tercel',
 'short_model_terrain',
 'short_model_thing',
 'short_model_thomas',
 'short_model_thrift',
 'short_model_thunderbird',
 'short_model_tiguan',
 'short_model_titan',
 'short_model_tl',
 'short_model_tlx',
 'short_model_torrent',
 'short_model_touareg',
 'short_model_town',

In [105]:
print(df_prepared.shape)

(9964, 1483)

In [106]:
df_prepared.to_csv('data/vehicles_dataset_prepared.csv')

# Modeling

Сформируем датасет для обучения, инициализируем фичи и целевую переменную (price_category), положим их в соответствующие переменные, разделим данные на тестовую и тренировочные части

In [107]:
df_modeling = df_prepared.drop(['price', 'id'], axis=1)
x = df_modeling.drop(['price_category'], axis=1)
y = df_modeling['price_category']

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=42
)

## Логистическая регрессия

In [108]:
log = LogisticRegression()
log.fit(x_train, y_train)
print(accuracy_score(y_train, log.predict(x_train)))
print(confusion_matrix(y_train, log.predict(x_train)))

0.937338686550043
[[2307    1   88]
 [   0 2135  109]
 [  62  177 2095]]

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [109]:
log.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [110]:
log = LogisticRegression(random_state = 42, solver = 'newton-cg', C= 4.1)
log.fit(x_train, y_train)
print(accuracy_score(y_train, log.predict(x_train)))
print(confusion_matrix(y_train, log.predict(x_train)))

0.9728993404072268
[[2364    0   32]
 [   0 2196   48]
 [  23   86 2225]]

## Случайный лес

In [111]:
rf_clf = RandomForestClassifier(random_state = 50)
rf_clf.fit(x_train, y_train)

RandomForestClassifier(random_state=50)

In [112]:
pred_rf = rf_clf.predict(x_test)
print(accuracy_score(y_train, rf_clf.predict(x_train)))
print(confusion_matrix(y_train, rf_clf.predict(x_train)))

1.0
[[2396    0    0]
 [   0 2244    0]
 [   0    0 2334]]

In [113]:
rf_clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 50,
 'verbose': 0,
 'warm_start': False}

In [114]:
rf_clf = RandomForestClassifier(random_state = 42, max_features = 'log2', min_samples_split = 3)
rf_clf.fit(x_train, y_train)
pred_rf = rf_clf.predict(x_test)
print(accuracy_score(y_train, rf_clf.predict(x_train)))
print(confusion_matrix(y_train, rf_clf.predict(x_train)))

1.0
[[2396    0    0]
 [   0 2244    0]
 [   0    0 2334]]

## Многослойный персептрон

In [115]:
mlp = MLPClassifier( random_state=42, max_iter=500)
mlp.fit(x_train, y_train)
print(accuracy_score(y_train, mlp.predict(x_train)))
print(confusion_matrix(y_train, mlp.predict(x_train)))

1.0
[[2396    0    0]
 [   0 2244    0]
 [   0    0 2334]]

In [116]:
mlp.get_params()

{'activation': 'relu',
 'alpha': 0.0001,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': (100,),
 'learning_rate': 'constant',
 'learning_rate_init': 0.001,
 'max_fun': 15000,
 'max_iter': 500,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': 42,
 'shuffle': True,
 'solver': 'adam',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}

In [117]:
mlp = MLPClassifier( random_state=42, max_iter=600, activation = 'tanh', hidden_layer_sizes = (100,24))
mlp.fit(x_train, y_train)
print(accuracy_score(y_train, mlp.predict(x_train)))
print(confusion_matrix(y_train, mlp.predict(x_train)))

0.9911098365357041
[[2385    0   11]
 [   0 2225   19]
 [  13   19 2302]]

## Проверка качества с помощью кросс-валидации

Проверим предсказательную способность моделей логистической регрессии, случайного леса и многослойного персептрона с помощью кросс-валидации.

In [118]:
cross_validate(log, x, y, cv=5)

{'fit_time': array([8.81101704, 8.65687776, 8.89007998, 9.30046225, 9.06024337]),
 'score_time': array([0.02602339, 0.02505064, 0.02503204, 0.0240221 , 0.02402139]),
 'test_score': array([0.9061716 , 0.91369794, 0.91169092, 0.91570497, 0.91666667])}

In [119]:
cv_score_log=cross_val_score(log, x, y, cv=5)
cv_score_log.mean(), cv_score_log.std()

(0.9127864191336345, 0.0037245420304408074)

In [120]:
cross_validate(rf_clf, x, y, cv=5)

{'fit_time': array([3.53421855, 3.61328888, 3.6313045 , 3.60427952, 3.54621792]),
 'score_time': array([0.11109805, 0.1141119 , 0.11510468, 0.11510515, 0.10909963]),
 'test_score': array([0.97390868, 0.96086302, 0.96738585, 0.96738585, 0.97238956])}

In [121]:
cv_score_rf=cross_val_score(rf_clf, x, y, cv=5)
cv_score_rf.mean(), cv_score_rf.std()

(0.968386592027921, 0.0045852871879194495)

In [122]:
cross_validate(mlp, x, y, cv=5)

{'fit_time': array([49.73124981, 44.43843365, 46.93982577, 52.55717802, 41.88711238]),
 'score_time': array([0.03003597, 0.03203821, 0.0330286 , 0.03503203, 0.03003621]),
 'test_score': array([0.9347717 , 0.92574009, 0.93125941, 0.93075765, 0.93072289])}

In [123]:
cv_score_mlp=cross_val_score(mlp, x, y, cv=5)
cv_score_mlp.mean(), cv_score_mlp.std()

(0.9306503485089379, 0.0028804135589971572)

По результатам кросс-валидации лучшей моделью является модель случайного леса. Посчитаем значение модели случайного леса для тестовой выборки.

In [124]:
predicted_test_rf = rf_clf.predict(x_test)
print(accuracy_score(y_test, predicted_test_rf))

0.9775919732441471

# Results

По результатам моделирования лучший результат показала модель случайного леса. Обучим эту модель на всём датасете.

In [125]:
rf_clf.fit(x,y)

RandomForestClassifier(max_features='log2', min_samples_split=3,
                       random_state=42)

In [126]:
from io import open_code
filename='data/final_model.pickle'

with open(filename, 'wb') as file:
    pickle.dump(rf_clf, file)